<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/personage/setbase">基础信息</a>
      <a href="/personage/setsafety">安全设置</a>
      <a href="/personage/addlecturer" class="active">添加讲师</a>
      <a href="/personage/settled">公司入驻申请</a>
    </header>
    <div class="panel-body">
      <h2 class="panel-title">添加讲师</h2>
      <form id="lecturer-form" class="w600 cmxform" method="post">
        <div class="form-group">
          <label class="control-label" for="profile-truename">用户名</label>
          <div class="form-controls required">
            <input type="text" id="profile-truename" name="SignupForm[username]" class="form-input" value="" required isRightfulString="true" maxlength="30" minlength="3">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="form_password">密码</label>
          <div class="form-controls required">
            <input type="password" class="form-input" name="SignupForm[password]" id="form_password" value="" required  minlength="6">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="form_confirmPassword">确认密码</label>
          <div class="form-controls required">
            <input type="password" class="form-input" name="form_confirmPassword" id="form_confirmPassword" value="" required minlength="6">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">邮箱</label>
          <div class="form-controls required">
            <input type="text" class="form-input" value="" required name="SignupForm[email]" email="true">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="profile-truename">姓名</label>
          <div class="form-controls required">
            <input type="text" id="profile-truename" name="Audit[audit_name]" class="form-input" value="" required maxlength="30">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="profile-idcard">身份证号</label>
          <div class="form-controls required">
            <input type="text" id="profile-idcard" name="Audit[card]" class="form-input" value="" required isIdCardNo="true">
          </div>
        </div>
        <div class="form-group">
          <div class="control-label">上传半身照</div>
          <div class="form-controls required">
            <div class="uploader-img">
              <div class="fileList" class="uploader-list"><img class="imghead" src="/static/img/default-hanmi.jpg"></div>
              <div class="filePicker" class="choose_img" data-index="0">选择图片</div>
              <input type="text" name="Audit[audit_whole_image]" class="img-path" required value="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label">身份证正面照</div>
          <div class="form-controls required">
            <div class="uploader-img">
              <div class="fileList" class="uploader-list"><img class="imghead" src="/static/img/default-front.jpg"></div>
              <div class="filePicker" class="choose_img" data-index="1">选择图片</div>
              <input type="text" name="Audit[audit_positive_image]" class="img-path" required value="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label">身份证反面照</div>
          <div class="form-controls required">
            <div class="uploader-img">
              <div class="fileList" class="uploader-list"><img class="imghead" src="/static/img/default-reverse.jpg"></div>
              <div class="filePicker" class="choose_img" data-index="2">选择图片</div>
              <input type="text" name="Audit[audit_reverse_image]" class="img-path" required value="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">师资年限</label>
          <div class="form-controls required">
            <input type="text" class="form-input" value="" name="Audit[audit_year]" required number="true">
          </div>
        </div>
        <div class="form-group">
          <label for="profile-mobile" class="control-label">手机号码</label>
          <div class="form-controls required">
            <input type="text" id="profile-mobile" class="form-input" value="" name="Audit[audit_phone]" required isMobile="true">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">擅长领域</label>
          <div class="form-controls required">
            <textarea name="Audit[audit_specialty]" rows="4" id="form-richtext" class="form-textarea" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="form-submit">
            <button type="submit" class="button-submit">提交</button>
          </div>
        </div>
        <input type="hidden" name="form-data" value ="#lecturer-form"/>
        <input type="hidden" name="_url" value ="/personage/add-lecturer"/>
      </form>
    </div><br>
    <!-- 讲师key值 -->
    <div class="panel-body bt0">
      <!-- <div class="crumbs">旗下讲师直播秘钥</div> -->
      <div class="panel-body-course sub">
        <table class="table-course" id="table-course-list">
        <script id="tableCourseList" type="text/html">
          <tbody>
            <tr>
              <th class="th1">讲师ID</th>
              <th class="th2">讲师用户名</th>
              <th class="">直播密码串</th>
              <th class="">推流ip</th>
            </tr>
            {{if lecturer.length>0}}
            {{each lecturer as value i}}
            <tr>
              <td>{{value.id}}</td>
              <td>{{value.username}}</td>
              <td>{{value.audit.audit_key}}</td>
              <td>{{ip}}</td>
            </tr>
            {{/each}}
            {{else}}
            <tr><td colspan="4" class="no-data">暂无讲师</td></tr>
            {{/if}}
          </tbody>
        </script>
        </table>
      </div>
    </div>
  </section>
  <!-- main end -->
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script src="/static/js/plugins/kindeditor/kindeditor-min.js?v=2"></script>
  <script src="/static/js/plugins/webupload/webuploader.js"></script>
  <script>
    seajs.use('/static/js/setting/addlecturer.js');
  </script>
</body>
</html>