<input type="hidden" id="page-title" value="<?php use yii\helpers\Html; echo Html::encode($title)?>">
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/personage/setbase">基础信息</a>
      <a href="/personage/setsafety" class="active">安全设置</a>
      <a href="/personage/setlecturer" id="apply-lecturer-btn">讲师申请</a>
      <a href="/personage/settled">公司入驻申请</a>
    </header>
    <div class="panel-body">
      <h2 class="panel-crumbs"><a href="/personage/setsafety">安全设置</a>&gt;账号合并</h2>
      <div class="panel-body-bd">
        <form id="merge-account-form" class="w600 cmxform" method="post" autocomplete="off">
          <div class="form-group">
            <label class="control-label" for="merge-account">合并的账号</label>
            <div class="form-controls required">
              <input type="text" id="merge-account" name="merge_account" class="form-input" value=" " required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="account-Password">合并账号密码</label>
            <div class="form-controls required">
              <input type="password" id="account-password" name="merge_password" class="form-input" value="" required minlength="6">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">选择主账号</label>
            <div class="form-controls">
              <div id="form-radio">
                <input type="radio" id="main-account1" checked name="main_account" value="1">
                <label for="main-account1">当前账号</label>
                <input type="radio" id="main-account2" name="main_account" value="2">
                <label for="main-account2">合并的账号</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确定</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- main end -->
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    seajs.use('/static/js/setting/account.js');
  </script>
</body>
</html>