<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/personage/setbase" class="active">基础信息</a>
      <a href="/personage/setsafety">安全设置</a>
      <a href="/personage/setlecturer">讲师申请</a>
    </header>
    <div class="panel-body" id="panel-body1">
      <h2 class="panel-title">基础信息</h2>
      <form id="set-base-form" class="w600 cmxform" method="post">
        <script id="setBaseForm" type="text/html">
        <div class="form-group">
          <label class="control-label">用户名</label>
          <div class="form-controls">
            <input type="text" class="form-input" value="{{username}}" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">昵称</label>
          <div class="form-controls">
            <input type="text" id="nickname" name="UserDetail[nick_name]" class="form-input" value="{{data.nick_name}}" maxlength="50">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">性别</label>
          <div class="form-controls">
            <div id="form-radio">
              <input type="radio" id="profile-gender0" {{if data.user_sex==1}}checked{{/if}} name="UserDetail[user_sex]" value="1">
              <label for="profile-gender0">男</label>
              <input type="radio" id="profile-gender1" {{if data.user_sex==0}}checked{{/if}} name="UserDetail[user_sex]" value="0">
              <label for="profile-gender1">女</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="profile-truename">姓名</label>
          <div class="form-controls">
          {{if data.card}}
            <input type="text" id="profile-truename" name="" class="form-input" value="{{data.real_name}}" disabled>
            <div class="form-hint"><span class="hot" id="">已认证成功</span></div>
          {{else}}
            <input type="text" id="profile-truename" name="UserDetail[real_name]" class="form-input" value="{{data.real_name}}" maxlength="30">
            <div class="form-hint">您尚未实名认证，<a href="javascript:;" id="setname">点此认证</a></div>
          {{/if}}
          </div>
        </div>
        <div class="form-group">
          <div class="control-label">当前头像</div>
          <div class="form-controls" id="user-avatar">
            <!-- <input type="file" name="file" id="head-set" value="选择图片"/> -->
            <div class="uploader-img">
              <div class="fileList" class="uploader-list"><img class="imghead avatar-img" src="{{if data.portrait}}{{data.portrait}}{{else}}/static/img/default-avatar.jpg{{/if}}"></div>
              <div class="filePicker" class="choose_img" data-index="0">选择图片</div>
              <input type="text" name="UserDetail[portrait]" class="img-path" value="{{if data.portrait}}{{data.portrait}}{{else}}/static/img/default-avatar.jpg{{/if}}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label">上传形象照</div>
          <div class="form-controls">
            <div class="uploader-img">
              <div class="fileList" class="uploader-list"><img class="imghead" src="{{if data.enterprise_img}}{{data.enterprise_img}}{{else}}/static/img/default-avatar.jpg{{/if}}"></div>
              <div class="filePicker" class="choose_img" data-index="1">选择图片</div>
              <input type="text" name="UserDetail[enterprise_img]" class="img-path" value="{{if data.enterprise_img}}{{data.enterprise_img}}{{else}}/static/img/default-avatar.jpg{{/if}}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="profile-mobile" class="control-label">手机号码</label>
          <div class="form-controls">
            <input type="text" id="profile-mobile" class="form-input" value="{{data.phone}}" name="UserDetail[phone]" isMobile="true">
          </div>
        </div>
        <div class="form-group">
          <label for="profile-link" class="control-label">邀请链接</label>
          <div class="form-controls" id="copy-link-box">
            <input type="text" id="profile-link" class="form-input" value="{{data.link}}" name="" disabled>
            <a id="copy-link" href="javascript:;">复制</a>
          </div>
        </div>
        <div class="form-group">
          <label for="profile-firm" class="control-label">公司</label>
          <div class="form-controls">
            <input type="text" id="profile-firm" class="form-input" value="{{data.company}}" name="UserDetail[company]">
          </div>
        </div>
        <div class="form-group">
          <label for="profile-job" class="control-label">职位</label>
          <div class="form-controls">
            <input type="text" id="profile-job" class="form-input" value="{{data.profess}}" name="UserDetail[profess]">
          </div>
        </div>
        <div class="form-group">
          <label for="profile-sdf" class="control-label">个性签名</label>
          <div class="form-controls">
            <input type="text" id="profile-sdf" class="form-input" value="{{data.motto}}" name="UserDetail[motto]">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">自我介绍</label>
          <div class="form-controls">
            <textarea name="UserDetail[introduce]" rows="4" id="form-richtext" class="form-textarea">{{data.introduce}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">微博</label>
          <div class="form-controls">
            <input type="text" class="form-input" value="{{data.weibo}}" name="UserDetail[weibo]">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">微信</label>
          <div class="form-controls">
            <input type="text" class="form-input" value="{{data.wechat}}" name="UserDetail[wechat]">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">qq</label>
          <div class="form-controls">
            <input type="text" class="form-input" value="{{data.user_qq}}" number="true" name="UserDetail[user_qq]">
          </div>
        </div>
        <div class="form-group">
          <div class="form-submit">
            <button type="submit" class="button-submit">保存信息</button>
          </div>
        </div>
        <!-- <input type="hidden" name="UserDetail[portrait]" id="img-path" value="{{if data.portrait}}{{data.portrait}}{{else}}/static/img/default-avatar.jpg{{/if}}"> -->
        <input type="hidden" name="form-data" value ="#set-base-form"/>
        <input type="hidden" name="_url" value ="/personage/basic"/>
        </script>
      </form>
    </div>
    <div class="panel-body hide" id="panel-body2">
      <h2 class="panel-crumbs"><a href="/personage/setbase">基础信息</a>&gt;实名认证</h2>
      <div class="panel-body-bd">
        <form id="set-name-form" class="w600 cmxform" method="post">
          <div class="form-group">
            <label class="control-label" for="profile-truename">姓名</label>
            <div class="form-controls required">
              <input type="text" id="profile-truename" name="UserDetail[nick_name]" class="form-input" value="" required maxlength="30">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="profile-idcard">身份证号</label>
            <div class="form-controls required">
              <input type="text" id="profile-idcard" name="UserDetail[card]" class="form-input" value="" required isIdCardNo="true">
            </div>
          </div>
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">保存信息</button>
            </div>
          </div>
        </form>
        <input type="hidden" name="form-data2" value ="#set-name-form"/>
        <input type="hidden" name="_url2" value ="/personage/authentication"/>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script src="/static/js/plugins/kindeditor/kindeditor-min.js?v=2"></script>
  <script src="/static/js/plugins/webupload/webuploader.js"></script>
  <script src="/static/js/plugins/copy/ZeroClipboard.min.js"></script>
  <script>
    seajs.use('/static/js/setting/setbase.js');
  </script>
</body>
</html>