<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/personage/setbase" class="active">基础信息</a>
      <a href="/personage/setsafety">安全设置</a>
      <a href="/personage/setlecturer">讲师申请</a>
    </header>
    <div class="panel-body">
      <h2 class="panel-crumbs"><a href="/personage/setbase">基础信息</a>&gt;实名认证</h2>
      <div class="panel-body-bd">
        <form id="set-base-form" class="w600 cmxform" method="post">
          <div class="form-group">
            <label class="control-label" for="profile-truename">姓名</label>
            <div class="form-controls required">
              <input type="text" id="profile-truename" name="" class="form-input" value="" required maxlength="30">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="profile-idcard">身份证号</label>
            <div class="form-controls required">
              <input type="text" id="profile-idcard" name="" class="form-input" value="">
            </div>
          </div>
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">保存信息</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- main end -->
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
</body>
</html>