<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/personage/setbase">基础信息</a>
      <a href="/personage/setsafety" class="active">安全设置</a>
      <a href="/personage/setlecturer" id="apply-lecturer-btn">讲师申请</a>
      <a href="/personage/settled">公司入驻申请</a>
    </header>
    <div class="panel-body">
      <h2 class="panel-crumbs"><a href="/personage/setsafety">安全设置</a>&gt;密码验证</h2>
      <div class="panel-body-bd">
        <form id="set-password-form" class="w600 cmxform" method="post">
          <div class="form-group">
            <label class="control-label" for="old-password">当前密码</label>
            <div class="form-controls required">
              <input type="password" id="old-password" name="oldpassword" class="form-input" value="" required minlength="6">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="form_newPassword">新密码</label>
            <div class="form-controls required">
              <input type="password" id="form_newPassword" name="User[password_hash]" class="form-input" value="" required minlength="6">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="form_confirmPassword">确认密码</label>
            <div class="form-controls required">
              <input type="password" name="form_confirmPassword" id="form_confirmPassword" class="form-input" value="" required minlength="6">
            </div>
          </div>
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确定</button>
            </div>
          </div>
          <input type="hidden" name="form-data" value ="#set-password-form"/>
          <input type="hidden" name="_url" value ="/personage/changepassword"/>
        </form>
      </div>
    </div>
  </section>
  <!-- main end -->
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    $(function(){
      // ajax提交
      var $formData = $($('input[name="form-data"]').val());
      $formData.validate({
        // 验证两次输入密码是否相同
        rules: {
          form_newPassword: "required",
          form_confirmPassword: {
            equalTo: "#form_newPassword"
          }
        },
        onsubmit:true,// 是否在提交时验证
        submitHandler: function(form){
          var _url = $('input[name="_url"]').val();
          var data = $formData.serialize();
          console.log(data);
          $.ajax({
            url : _url,
            type : 'post',
            data : data,
            dataType:'json',
            success : function(data){
              if(data){
                data.status?alert('修改成功'):alert(data.error);
              }else{
                alert(data);
              }
            }
          });
        }
      });
      // 是否是公司
      $.ajax({
        type:'get',
        url:'/firm/is-firm',
        dataType: 'json',
        success: function(datas){
          if(datas==1){
            $('#apply-lecturer-btn').html('添加讲师').attr('href','/personage/addlecturer');
          }
        },
        error: function(xml,err){
          console.log(err);
        }
      });
    });
  </script>
</body>
</html>