<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/personage/setbase">基础信息</a>
      <a href="/personage/setsafety" class="active">安全设置</a>
      <a href="/personage/setlecturer">讲师申请</a>
    </header>
    <div class="panel-body">
      <h2 class="panel-crumbs"><a href="/personage/setsafety">安全设置</a>&gt;实名认证</h2>
      <div class="panel-body-bd">
        <form id="set-password-form" class="w600 cmxform" method="post">
          <div class="form-group">
            <label class="control-label">当前密码</label>
            <div class="form-controls required">
              <input type="password" name="" class="form-input" value="" required minlength="6">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">新密码</label>
            <div class="form-controls required">
              <input type="password" name="" class="form-input" value="" required minlength="6">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">确认密码</label>
            <div class="form-controls required">
              <input type="password" name="" class="form-input" value="" required minlength="6">
            </div>
          </div>
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确定</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- main end -->
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
</body>
</html>