<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/personage/setbase">基础信息</a>
      <a href="/personage/setsafety" class="active">安全设置</a>
      <a href="/personage/setlecturer" id="apply-lecturer-btn">讲师申请</a>
      <a href="/personage/settled">公司入驻申请</a>
    </header>
    <div class="panel-body">
      <h2 class="panel-title">安全设置</h2>
      <div class="safety-setting w600">
        <div class="row">
          <div class="safety-icon qq"></div>
          <div class="set-name">QQ账号</div>
          <div class="set-info">未绑定，绑定后可直接登录。</div>
          <a href="javascript:;" class="rf">绑定</a>
        </div>
        <div class="row">
          <div class="safety-icon weixin"></div>
          <div class="set-name">微信登录</div>
          <div class="set-info">未绑定，绑定后可直接登录。</div>
          <a href="javascript:;" class="rf">绑定</a>
        </div>
        <div class="row">
          <div class="safety-icon password"></div>
          <div class="set-name">登录密码</div>
          <div class="set-info">登录网校时需要输入的密码</div>
          <a href="/personage/setpassword" class="rf">修改</a>
        </div>
        <div class="row">
          <div class="safety-icon phone"></div>
          <div class="set-name">手机绑定</div>
          <div class="set-info">增加账户登录、购买课程时的安全性，同时还可以找回登录密码、支付密码。</div>
          <a href="javascript:;" class="rf">绑定</a>
        </div>
      </div>
      <h2 class="panel-title">邮箱设置</h2>
      <form id="set-email-form" class="w600 cmxform" method="post">
        <div class="form-group">
          <label class="control-label" for="profile-email">当前登录邮箱</label>
          <div class="form-controls">
            <input type="text" id="profile-email" name="oldemail" class="form-input" value="" required email="true">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">新登录邮箱</label>
          <div class="form-controls">
            <input type="text" name="User[email]" class="form-input" value="" required email="true">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">网站登录密码</label>
          <div class="form-controls">
            <input type="password" name="User[password_hash]" required minlength="6" class="form-input" />
            <p class="form-hint">设置新的登录邮箱，需要校验当前的网站登录密码</p>
          </div>
        </div>
        <div class="form-group">
          <div class="form-submit">
            <button type="submit" class="button-submit">提交</button>
          </div>
        </div>
        <input type="hidden" name="form-data" value ="#set-email-form"/>
        <input type="hidden" name="_url" value ="/personage/mailset"/>
      </form>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    // ajax提交
    var $formData = $($('input[name="form-data"]').val());
    $formData.validate({
      onsubmit:true,// 是否在提交时验证
      submitHandler: function(form){
        var _url = $('input[name="_url"]').val();
        var data = $formData.serialize();
        console.log(data);
        $.ajax({
          url : _url,
          type : 'post',
          data : data,
          success : function(data){
            if(data){
              alert("提交成功");
            }else{
              alert(data);
            }
          }
        });
      }
    });
    // 是否是公司
    $.ajax({
      type:'get',
      url:'/firm/is-firm',
      dataType: 'json',
      success: function(datas){
        if(datas==1){
          $('#apply-lecturer-btn').html('添加讲师').attr('href','/personage/addlecturer');
        }
      },
      error: function(xml,err){
        console.log(err);
      }
    });
  </script>
</body>
</html>