<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<link rel="stylesheet" href="/static/css/account.css">
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix" id="course-head">
      <script id="courseHead" type="text/html">
      <a href="/account" class="active">我的账户</a>
      <a href="/account/order">我的订单</a>
      {{if identity}}
        <a href="/account/gift">我的礼物</a>
        <a href="/account/reward">收到的打赏</a>
      {{/if}}
      </script>
    </header>
    <div class="panel-body">
      <div class="crumbs"><a href="/account">我的账户</a><span> &gt; 优惠卷</span></div>
      <div class="panel-body-course sub">
        <table class="table-course" id="table-course-list">
        <script id="tableCourseList" type="text/html">
          <tbody>
            <tr>
              <th class="">礼包名称</th>
              <th class="">获得时间</th>
              <th class="">到期日期</th>
              <th class="">价值金额</th>
            </tr>
            {{if list.length>0}}
            {{each list as value i}}
            <tr>
              <td>{{value.cnum.coupon_info}}</td>
              <td>{{value.create_date}}</td>
              <td>{{value.cnum.coupon_date}}</td>
              <td>{{value.cnum.coupon_money}}</td>
            </tr>
            {{/each}}
            {{else}}
            <tr><td colspan="4" class="no-data">暂无优惠卷</td></tr>
            {{/if}}
          </tbody>
        </script>
        </table>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script>
    seajs.use('/static/js/account/coupon.js');
  </script>
</body>
</html>