<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<link rel="stylesheet" href="/static/css/account.css">
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/account">我的账户</a>
      <a href="/account/order">我的订单</a>
      <a href="/account/gift" class="active">我的礼物</a>
      <a href="/account/reward">收到的打赏</a>
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
        <ul class="get-gift-list clearfix" id="get-gift-list">
          <script id="getGiftList" type="text/html">
          {{if list.length>0}}
          {{each list as value i}}
            <li>
              <img src="{{value.gimage}}" alt="">
              <p>数量：{{value.quantity_sum}}</p>
            </li>
          {{/each}}
          {{else}}
            <div class="no-data">暂未收到礼物</div>
          {{/if}}
          </script>
        </ul>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/laydate/laydate.dev.js"></script>
  <script>
    seajs.use('/static/js/account/gift.js');
  </script>
</body>
</html>