<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<link rel="stylesheet" href="/static/css/account.css">
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix" id="course-head">
      <script id="courseHead" type="text/html">
      <a href="/account" class="active">我的账户</a>
      <a href="/account/order">我的订单</a>
      {{if identity}}
        <a href="/account/gift">我的礼物</a>
      {{/if}}
      </script>
    </header>
    <div class="panel-body">
      <div class="panel-body-course pd36 panel-body-account">
        <div class="row row1">
          <div class="lf">我的余额：</span><span id="balance" class="hot"></span> 阿猪币</div>
          <a href="/account/recharge" class="lf btn">我要充值</a>
        </div>
        <div class="row row2">
          <a href="/account/transaction" class="account-icon query lf"><span class="hot">查询交易记录</span><span class="q">立即查询&gt;&gt;</span></a>
          <a href="/account/coupon" class="account-icon coupon lf"><span class="hot">优惠卷</span><span class="q">立即查询&gt;&gt;</span></a>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script>
    // seajs.use('/static/js/account/account.js');
    // ajax 取数据
    $.ajax({
      type:'get',
      url:'wealth/my-balance',
      dataType: 'json',
      success: function(datas){
        $('#balance').html(datas.zhubi);
      },
      error: function(xml,err){
        console.log(err);
      }
    });
  </script>
</body>
</html>