<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<link rel="stylesheet" href="/static/css/account.css">
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix" id="course-head">
      <script id="courseHead" type="text/html">
      <a href="/account">我的账户</a>
      <a href="/account/order" class="active">我的订单</a>
      {{if identity}}
        <a href="/account/gift">我的礼物</a>
        <a href="/account/reward">收到的打赏</a>
      {{/if}}
      </script>
    </header>
    <div class="panel-body">
      <div class="search-date order">
        查询时间：
        <input class="" type="text" id="startDate" name="start_time" value="" placeholder="起始日期">&nbsp;-
        <input class="" type="text" id="endDate" name="end_time" value="" placeholder="结束日期">
        <button class="btn" id="date-submit">查询</button>
      </div>
      <div class="panel-body-course">
        <table class="table-course order-table" id="table-course-list">
        <script id="tableCourseList" type="text/html">
          <tbody>
            <tr>
              <th>日期</th>
              <th>课程名称</th>
              <th>流水号</th>
              <th>价格</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
            {{if list.length>0}}
            {{each list as value i}}
            <tr>
              <td>{{value.add_date}}</td>
              <td><a href="/couresdetail?cid={{value.goods_id}}&type={{value.type}}">{{value.goods_name}}</a></td>
              <td>{{value.order_sn}}</td>
              <td>{{value.pay_amount}}</td>
              <td>
                {{if value.order_state==0}}
                <a href="javascript:;">已取消</a>
                {{else if value.order_state==10}}
                <a target="_blank" href="/pay?cid={{value.goods_id}}&type={{value.type}}&order={{value.order_sn}}">去付款</a>
                {{else}}
                <a href="javascript:;">已完成</a>
                {{/if}}
              </td>
              <td><a href="javascript:;" data-oid="{{value.order_id}}" class="delete-order">删除</a></td>
            </tr>
            {{/each}}
            {{else}}
            <tr><td colspan="6" class="no-data">暂无订单数据</td></tr>
            {{/if}}
          </tbody>
        </script>
        </table>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/laydate/laydate.js"></script>
  <script>
    seajs.use('/static/js/account/order.js');
  </script>
</body>
</html>