<input type="hidden" id="page-title" value="<?php use yii\helpers\Html; echo Html::encode($title)?>">
<link rel="stylesheet" href="/static/css/account.css">
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/account">我的账户</a>
      <a href="/account/order">我的订单</a>
      <a href="/account/gift">我的礼物</a>
      <a href="/account/reward" class="active">收到的打赏</a>
    </header>
    <div class="panel-body">
      <div class="search-date order">
        查询时间：
        <input class="" type="text" id="startDate" name="start_time" value="" placeholder="起始日期">&nbsp;-
        <input class="" type="text" id="endDate" name="end_time" value="" placeholder="结束日期">
        <button class="btn" id="date-submit">查询</button>
      </div>
      <div class="panel-body-course">
        <table class="table-course order-table" id="table-course-list">
        <script id="tableCourseList" type="text/html">
          <tbody>
            <tr>
              <th>用户名</th>
              <th style="width: 500px;">课程名称</th>
              <th>金额</th>
              <th>日期</th>
              <!-- <th>操作</th> -->
            </tr>
            {{if list.length>0}}
            {{each list as value i}}
            <tr>
              <td><a href="/home?uid={{value.user_id}}" target="_blank">{{value.uname}}</a></td>
              <td>{{value.title}}</td>
              <td>{{value.money}}</td>
              <td>{{value.create_date}}</td>
              <!-- <td><a href="javascript:;" data-oid="{{value.order_id}}" class="delete-order">删除</a></td> -->
            </tr>
            {{/each}}
            {{else}}
            <tr><td colspan="6" class="no-data">暂无订单数据</td></tr>
            {{/if}}
          </tbody>
        </script>
        </table>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/laydate/laydate.js"></script>
  <script>
    seajs.use('/static/js/account/reward.js');
  </script>
</body>
</html>