<input type="hidden" id="page-title" value="<?php use yii\helpers\Html; echo Html::encode($title)?>">
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/coures/direct">创建直播</a>
      <a href="/coures/course">创建录播</a>
      <a href="/myteach/teaching" class="active">我的教学</a>
      <a href="/coures/study">我的学习</a>
      <a href="/coures/note">我的笔记</a>
      <a href="/coures/manage">学员管理</a>
      <!-- <a href="my_datum.html" class="mydatum-btn">我的资料库</a> -->
    </header>
    <div class="panel-body">
      <div class="crumbs"><a href="teaching">我的教学</a><span> &gt; 课时管理</span></div>
      <div class="panel-body-course sub">
        <div class="select-type clearfix">
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-course" data-val="1">我的课时</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="1">我的课时</a></li>
              <li><a href="javascript:;" data-arg="2">我的资料</a></li>
            </ul>
          </div>
          <div class="rf"><a href="javascript:;" class="handle-icon delete" id="handle-delete">删除</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon add" id="add-data">添加资料</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon add" id="add-hour">添加课时</a></div>
        </div>
        <table class="table-course hour" id="table-course-list">
        <script id="tableCourseList" type="text/html">
          <tbody>
          {{if data.length>0}}
          {{if type==1}}
            <tr>
              <th class="th1"><input type="checkbox" name="controlAll" id="controlAll"><label for="controlAll">全选</label></th>
              <th class="th2">课时名称</th>
              <th class="th3">课时长度</th>
              <th class="th3">操作</th>
            </tr>
            {{each data as value i}}
            <tr>
              <td><input type="checkbox" name="selected" data-type="{{type}}" value="{{value.hour_id}}"></td>
              <td class="td2"><a href="/couresdetail/video?cid={{value.coures_id}}&amp;type={{type}}&amp;hid={{value.hour_id}}" class="hour-title {{if value.is_free==1}}free{{/if}}"target="_blank">{{value.hour_title}}</a></td>
              <td>{{value.video_time}}</td>
              <td>
              {{if value.hour_state==1}}
                <a href="javascript:;" id="cancel-issue" data-hid="{{value.hour_id}}">取消发布</a>
              {{else}}
                <a href="javascript:;" id="issue" data-hid="{{value.hour_id}}">现在发布</a>
              {{/if}}
              </td>
            </tr>
            {{/each}}
          {{else}}
            <tr>
              <th class="th1"><input type="checkbox" name="controlAll" id="controlAll"><label for="controlAll">全选</label></th>
              <th class="th2">资料名称</th>
              <th class="th3">下载次数</th>
            </tr>
            {{each data as value i}}
            <tr>
              <td><input type="checkbox" name="selected" data-type="{{type}}" value="{{value.datum_id}}"></td>
              <td class="td2"><a href="/couresdetail/video?cid={{value.datum_id}}" target="_blank">{{value.datum_title}}</a></td>
              <td>{{value.downloads}}</td>
            </tr>
            {{/each}}
          {{/if}}
          {{else}}
            <tr>
              <td colspan="4" class="no-data">暂无课时</td>
            </tr>
          {{/if}}
          </tbody>
        </script>
        </table>
      </div>
      <div class="ajax-paging">
        <div class="clearfix">
          <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
          <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
        </div>
      </div>
    </div>
  </section>
  <!-- 添加课时 -->
  <div class="popup hide" id="add-hour-popup">
    <div class="popup-modal ab">
      <div class="popup-header">
        <h1>添加课时</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="add-hour-form" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">课时标题</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="ClassHour[hour_title]" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">课时简介</label>
            <div class="form-controls">
              <textarea name="ClassHour[hour_brief]" class="form-textarea"></textarea>
            </div>
          </div>
          <div class="form-group" id="course-type">
            <label class="control-label">课程类型</label>
            <div class="form-controls">
              <div id="form-radio">
                <input type="radio" id="course-type1" name="ClassHour[is_free]" value="1" checked>
                <label for="course-type1">免费</label>
                <input type="radio" id="course-type0" name="ClassHour[is_free]" value="0">
                <label for="course-type0">收费</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">发布状态</label>
            <div class="form-controls">
              <div id="form-radio">
                <input type="radio" id="course-state0" name="ClassHour[hour_state]" value="1" checked>
                <label for="course-state0">开启</label>
                <input type="radio" id="course-state1" name="ClassHour[hour_state]" value="0">
                <label for="course-state1">关闭</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">上传课时</label>
            <div class="form-controls">
              <div id="uploader-hour">
                <div id="fileList1" class="uploader-list"></div>
                <div id="filePicker1" class="choose_img choose_hour">上传课时</div>
                <input type="text" name="ClassHour[video_address]" class="file-path" id="hour-path" value="" required>
             <!--    <div class="progress">
                  <span class="text">0%</span>
                  <span class="percentage"></span>
                </div> -->
              </div>
              <p class="hot f14">请上传mp4格式文件</p>
            </div>
          </div>
          <input type="hidden" class="form-input" name="date" id="hour-date" value="">
          <input type="hidden" class="form-input" name="fname" id="hour-fname" value="">
          <input type="hidden" class="form-input course-id" name="ClassHour[coures_id]" value="">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit" id="upload-status">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- 添加资料 -->
  <div class="popup hide" id="add-data-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>添加资料</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="add-data-form" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">资料标题</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="CouresDatum[datum_title]" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">上传资料</label>
            <div class="form-controls">
              <div id="uploader-data">
                <div id="fileList2" class="uploader-list"></div>
                <div id="filePicker2" class="choose_img">上传资料</div>
                <input type="text" name="CouresDatum[datum_address]" id="data-path" class="file-path" value="" required>
              </div>
              <p class="hot f14">请上传压缩包格式文件</p>
            </div>
          </div>
          <input type="hidden" class="form-input course-id" name="CouresDatum[coures_id]" value="">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit" id="upload-status2">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script src="/static/js/plugins/webupload/webuploader.js"></script>
  <script>
    seajs.use('/static/js/course/hour.js');
  </script>
</body>
</html>