<input type="hidden" id="page-title" value="<?php use yii\helpers\Html; echo Html::encode($title)?>">
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/coures/direct">创建直播</a>
      <a href="/coures/course">创建录播</a>
      <a href="/myteach/teaching" class="active">我的教学</a>
      <a href="/coures/study">我的学习</a>
      <a href="/coures/note">我的笔记</a>
      <a href="/group/my-group">我的小组</a>
      <a href="/coures/manage">学员管理</a>
      <!-- <a href="my_datum.html" class="mydatum-btn">我的资料库</a> -->
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
        <div class="select-type clearfix">
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-course" data-val="">全部课程</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="liveCoures" id="live-pitch">直播课程</a></li>
              <li><a href="javascript:;" data-arg="coures">录播课程</a></li>
              <li><a href="javascript:;" data-arg="assis">助播课程</a></li>
              <li><a href="javascript:;" data-arg="">全部课程</a></li>
            </ul>
          </div>
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-status" data-val="">发布状态</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="1">已发布</a></li>
              <li><a href="javascript:;" data-arg="0">未发布</a></li>
            </ul>
          </div>
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-date" data-val="null">发布日期</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="7">过去一周</a></li>
              <li><a href="javascript:;" data-arg="30">过去一个月</a></li>
              <li><a href="javascript:;" data-arg="60">过去两个月</a></li>
              <li><a href="javascript:;" data-arg="180">过去半年</a></li>
            </ul>
          </div>
          <div class="rf"><a href="javascript:;" class="handle-icon delete" id="handle-delete">删除</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon edit" id="handle-edit">编辑</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon invite hide" id="handle-invite">一键邀请</a></div>
        </div>
        <table class="table-course" id="table-course-list">
        <script id="tableCourseList" type="text/html">
          <tbody>
            <tr>
              <th class="th1"><input type="checkbox" name="controlAll" id="controlAll"><label for="controlAll">全选</label></th>
              <th class="th2">名称</th>
              <th class="th3">图片</th>
              <th class="th4">学员数</th>
              <th class="th5">价格</th>
              <!-- <th class="th6">发布状态</th> -->
              <th class="th7">创建时间</th>
              <th class="th8">操作</th>
            </tr>
            {{if list.length>0}}
            {{each list as value i}}
            <tr>
            {{if value.type==1}}
              <td><input type="checkbox" name="selected" data-type="{{value.type}}" value="{{value.coures_id}}"></td>
              <td><a href="/couresdetail?cid={{value.coures_id}}&amp;type=1" target="_blank">{{value.coures_title}}</a></td>
              <td><img src="{{value.coures_cover}}" alt=""></td>
              <td>{{value.num}}</td>
              <td>{{if value.coures_type==1}}{{value.privilege_price}}{{else}}免费{{/if}}</td>
              <!-- <td>已发布</td> -->
              <td>{{value.ctime}}</td>
              <td class="handle">
              {{if value.coures_status==1}}
                <a href="/couresdetail/video?cid={{value.coures_id}}&amp;type=1">进入课程</a>
                <a href="javascript:;" class="generalize-link" data-url="http://demo.agodpig.com/couresdetail?cid={{value.coures_id}}&amp;type=1">推广链接</a>
                <a href="hour-manage?cid={{value.coures_id}}">课时管理</a>
                <a href="javascript:;" class="add-fstudent" data-type="1" data-cid="{{value.coures_id}}">免费学员</a>
              {{else}}
                <a href="javascript:;" class="start-issue" data-type="{{value.type}}" data-cid="{{value.coures_id}}">开始发布</a>
              {{/if}}
              </td>
            {{else if value.type==0}}
              <td><input type="checkbox" name="selected" data-type="{{value.type}}" value="{{value.live_id}}"></td>
              <td><a href="/couresdetail?cid={{value.live_id}}&amp;type=0" target="_blank">{{value.live_title}}</a></td>
              <td><img src="{{value.live_cover}}" alt=""></td>
              <td>{{value.num}}</td>
              <td>{{if value.live_type==1}}{{value.privilege_price}}{{else}}免费{{/if}}</td>
              <!-- <td>已发布</td> -->
              <td>{{value.ctime}}</td>
              <td class="handle">
              {{if value.live_state==1}}
                <a href="/broadcasting?cid={{value.live_id}}">开始直播</a>
                <a href="javascript:;" data-url="http://demo.agodpig.com/couresdetail?cid={{value.live_id}}&amp;type=0" class="generalize-link">推广链接</a>
                <a href="javascript:;" class="add-teaching" data-cid="{{value.live_id}}">添加助教</a>
                <a href="javascript:;" class="add-service" data-cid="{{value.live_id}}">添加客服</a>
                <a href="javascript:;" class="add-fstudent" data-type="0" data-cid="{{value.live_id}}">免费学员</a>
              {{else}}
                <a href="javascript:;" class="start-issue" data-type="{{value.type}}" data-cid="{{value.live_id}}">开始发布</a>
              {{/if}}
              </td>
            {{else}}
              <td><input type="checkbox" name="selected" data-type="{{value.type}}" value="{{value.live_id}}"></td>
              <td><a href="/couresdetail?cid={{value.live_id}}&amp;type=0" target="_blank">{{value.live_title}}</a></td>
              <td><img src="{{value.live_cover}}" alt=""></td>
              <td>{{value.num}}</td>
              <td>{{if value.live_type==1}}{{value.privilege_price}}{{else}}免费{{/if}}</td>
              <!-- <td>已发布</td> -->
              <td>{{value.ctime}}</td>
              <td class="handle">
              {{if value.live_state==1}}
                <a href="/broadcasting?cid={{value.live_id}}">开始助播</a>
                <a href="javascript:;" data-url="http://demo.agodpig.com/couresdetail?cid={{value.live_id}}&amp;type=0" class="generalize-link">推广链接</a>
              {{else}}
                <a href="javascript:;">尚未发布</a>
              {{/if}}
              </td>
            {{/if}}
            </tr>
            {{/each}}
            {{else}}
            <tr>
              <td colspan="7" class="no-data">暂无课程</td>
            </tr>
            {{/if}}
          </tbody>
        </script>
        </table>
      </div>
      <div class="ajax-paging">
        <div class="clearfix">
          <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
          <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
        </div>
      </div>
    </div>
  </section>
  <!-- 添加助教 -->
  <div class="popup hide" id="sub-teaching-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>添加助教</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="sub-teaching" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">现有助教</label>
            <div class="form-controls clearfix" id="now-sub-steacher">
              <script id="nowSubSteacher" type="text/html">
              {{if list.length>0}}
              {{each list as value i}}
                <div class="icon-tag">{{value.user_id}}
                  <a href="javascript:;" class="icon-btn-x delete-sub-s" data-aid="{{value.assistant_id}}">×</a>
                </div>
              {{/each}}
              {{else}}
              <div class="icon-tag">暂未添加助教</div>
              {{/if}}
              </script>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">助教id</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="uid" number="true" required>
            </div>
          </div>
          <input type="hidden" class="form-input" name="cid" value="">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- 添加客服 -->
  <div class="popup hide" id="sub-service-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>添加客服</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="sub-service" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">现有客服</label>
            <div class="form-controls clearfix" id="now-service">
              <script id="nowService" type="text/html">
              {{if list.length>0}}
              {{each list as value i}}
                <div class="icon-tag">{{value.user_id}}
                  <a href="javascript:;" class="icon-btn-x delete-service" data-aid="{{value.id}}">×</a>
                </div>
              {{/each}}
              {{else}}
              <div class="icon-tag">暂未添加客服</div>
              {{/if}}
              </script>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">客服id</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="uid" number="true" required>
            </div>
          </div>
          <input type="hidden" class="form-input" name="cid" value="">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- 添加免费学员 -->
  <div class="popup hide" id="sub-student-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>添加免费学员</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="sub-student" class="popup-form cmxform">
  <!--         <div class="form-group">
            <label class="control-label">免费学员</label>
            <div class="form-controls clearfix" id="now-student">
              <script id="nowStudent" type="text/html">
              {{if list.length>0}}
              {{each list as value i}}
                <div class="icon-tag">{{value.user_id}}
                  <a href="javascript:;" class="icon-btn-x delete-student" data-aid="{{value.id}}">×</a>
                </div>
              {{/each}}
              {{else}}
              <div class="icon-tag">暂未添加免费学员</div>
              {{/if}}
              </script>
            </div>
          </div> -->
          <div class="form-group">
            <label class="control-label">学员id</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="uid" number="true" required>
            </div>
          </div>
          <input type="hidden" class="form-input" name="cid" value="">
          <input type="hidden" class="form-input" name="type" value="">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- 推广链接 -->
  <div class="popup hide" id="sub-generalize-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>推广链接</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <input type="text" value="" id="generalize-addr">
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- 一键邀请 -->
  <div class="popup hide" id="invite-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>一键邀请</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="invite-form" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">内容</label>
            <div class="form-controls">
              <textarea name="content" id="" class="form-textarea" required placeholder="请输入私信内容"></textarea>
            </div>
          </div>
          <input type="hidden" class="form-input" name="cid" id="invite-cid" value="">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    seajs.use('/static/js/course/teaching.js');
  </script>
</body>
</html>