<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cmn-Hans" class="no-js">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>录播观看页面 - 阿猪网</title>
  <meta name="Keywords" content="阿猪网首页">
  <meta name="Description" content="阿猪网首页">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/static/css/rely/reset.css">
  <!-- <link rel="stylesheet" href="/static/css/base.css"> -->
  <!-- 让低版本ie浏览器更好的兼容 -->
  <!--[if lt IE 8]>
    <script>
      window.location.href="http://cdn.dmeng.net/upgrade-your-browser.html?referrer="+location.href;
    </script>
  <![endif]-->
  <!-- 兼容ie8以下的盒模型 -->
  <!--[if lt IE 8]>
    <style>
      *{*behavior: url(/static/css/rely/boxsizing.htc);}
    </style>
  <![endif]-->
  <!-- 让低版本 ie 兼容 html5 新标签 -->
  <!--[if lt IE 9]>
    <script src="/static/js/polyfills/html5shiv.min.js"></script>
    <script src="/static/css/video_files/respond.min.js?6.17.0"></script>
    <script src="/static/js/plugins/video/ie8/videojs-ie8.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/static/css/video.css">
  <link rel="stylesheet" href="/static/js/plugins/video/video-js.min.css">
</head>
<body>
  <div class="lesson-dashboard">
    <div class="dashboard-content">
      <a class="btn btn-primary nav-btn back-course-btn" href="javascript:;" id="current-course"><span class="glyphicon glyphicon-chevron-left"></span> 返回课程</a>
      <div class="course-pay-title">
        <p id="hour-title"></p>
      </div>
      <div class="dashboard-body">
        <div class="lesson-content" id="lesson-video-content">
          <script id="lessonVideoContent" type="text/html">
            <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="100%" height="100%" data-setup='{"autoplay":true}'>
              <source src="{{data}}" type="video/mp4" id="video-mp4">
              <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
          </script>
        </div>
        <div id="video-shade"></div>
      </div>
      <!-- 打赏 -->
      <div id="enjoy-effect" class="hide">
        多谢打赏，阿猪会通知讲师的
      </div>
      <a class="enjoy main-icon" href="javascript:;" id="enjoy-con"></a>
      <div class="enjoy-box hide">
        <div class="clearfix">
          <a href="javascript:;" class="enjoy-m lf" data-m="1">1元</a>
          <a href="javascript:;" class="enjoy-m lf" data-m="2">2元</a>
          <a href="javascript:;" class="enjoy-m lf" data-m="5">5元</a>
          <a href="javascript:;" class="enjoy-m lf" data-m="10">10元</a>
        </div>
        其他金额：<input type="text" class="enjoy-input" id="enjoy-val" onkeyup="value=value.replace(/[^\d|]/g,'')" value="1">
        <button type="button" class="enjoy-btn" id="enjoy-btn">确认</button>
      </div>
      <!-- 弹幕 -->
      <div class="bullet-con">
        <a href="javascript:;" class="bullet-con-btn"></a>
        <input name="" id="" class="chat-textarea"></input>
        <button class="chat-submit btn">发送</button>
      </div>
    </div>
    <div class="course-data">
      <div class="course-data-title" id="course-data-title"></div>
      <div class="course-data-row clearfix" id="course-type-video">
        <div class="lf">评分：</div><div class="lf star-5" id="grade-star"></div>
      </div>
      <div  class="course-data-row">
        <div class="teacher" id="aeaoofnhgocdbnbeljkmbjdmhbcokfdb-mousedown">
          讲师：<span id="teacher-name"></span>
        </div>
      </div>
      <input type="hidden" id="lecturer-id" value="">
    </div>
    <div class="toolbar toolbar-open" id="lesson-dashboard-toolbar">
      <div class="toolbar-nav">
        <ul class="toolbar-nav-stacked" id="lesson-toolbar-primary">
          <li class="active">
            <a href="javascript:;"><span class="glyphicon glyphicon-th-list"> </span>目录</a>
          </li>
        </ul>
      </div>
      <div class="toolbar-pane-container">
        <div class="lesson-pane">
          <div class="course-item-list-in-toolbar-pane ps-container show">
            <ul class="period-list" id="hour-item-list">
            <script id="hourItemList" type="text/html">
            {{if liveVideos.length>0}}
            {{each liveVideos as value i}}
              <li class="period lesson-item lesson-item-66" data-vid="{{value.vid}}" data-src="{{value.live_src}}">
                <a href="/couresdetail/direct-video?cid={{cid}}&amp;type=0&amp;vid={{value.vid}}" title="课程回放{{i+1}}">
                  <i class="es-icon es-icon-doing color-primary status-icon"></i>
                  <span class="title">回放{{i+1}}：{{value.vname}}</span>
                  <span class="date" title="视频时长{{value.create_date}}">{{value.create_date}}</span>
                </a>
              </li>
            {{/each}}
            {{else}}
              <div class="no-data">暂无回放课程</div>
            {{/if}}
            </script>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/lib/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="/static/js/lib/template.js"></script>
  <script src="/static/js/lib/sea.js" id="seajsnode"></script>
  <script src="http://139.196.195.238:8089/socket.io/socket.io.js"></script>
  <script src="/static/js/video/barrage.js"></script>
  <script>
    var userMid;
    // seajs
    seajs.config({
      alias: {
        'modernizr': '/static/js/polyfills/modernizr.min',
        'common' : '/static/js/common.js',
        'slick': '/static/js/plugins/slick/slick.min',
        'main' : '/static/js/main.js',
        'index' : '/static/js/index.js'
      }
    });
    seajs.use('/static/js/video/direct_video.js');
  </script>
</body>
</html>