<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <div class="panel-body bt0">
      <div class="crumbs"><a href="/curriculum/course-list">录播课程</a><span> &gt; 课程介绍</span></div>
      <div class="panel-body-course sub">
        <div class="course-info clearfix">
          <div class="lf course-info-left">
            <a href="javascript:;"><img src="http://image.agodpig.com/20160616/medium20160218_d968438a2434b62ba59dH7q5KEzTS6OH.png" width="450" height="268" alt=""></a>
          </div>
          <div class="lf course-info-right">
            <div class="clearfix">
              <div class="lf">
                <div class="title">复健科来得快福建省的开发商的开发大上</div>
                <div>原价：<span class="price">￥340元</span></div>
                <div>现价：<span class="now-price">￥30元</span></div>
                <div class="row">
                  <a href="javascript:;">立即购买</a>
                  <a href="javascript:;">点击收藏</a>
                  <a href="javascript:;">我要咨询</a>
                </div>
              </div>
              <div class="lf">
                <div class="row">
                  <div class="lf"><p>观看数</p><p class="data">3422次</p></div>
                  <div class="lf"><p>评分</p><p class="grade grade5"></p></div>
                </div>
                <div class="row">
                  <div class="lf"><p>难度</p><p class="data">中级</p></div>
                  <div class="lf"><p>课时</p><p class="data">13课时</p></div>
                </div>
                <a href="javascript:;" id="course-share"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-about clearfix">
          <div class="lf course-about-lf">
            <div class="head">
              <a href="javascript:;" class="active">课程介绍</a>
              <a href="javascript:;">评价</a>
            </div>
            <div class="introduce">
              伴随着电子商务的极速发展，衍生出诸多的新型业态。从B2B、B2C、C2C、O2O，从阿里系的崛起，到腾讯系的起落，从京东的发展到团购网站的衰落， 一直在围绕着创新、突破、边界！产品也从传统零售商品转向新兴的百货、美妆、直至海外商品！最为直接的问题出现了，人员的短缺及专业化的缺失是现困扰线上 企业的发展的最大障碍！
            </div>
            <div class="hour">
              <div class="hour-h1">本课课时</div>
              <ul class="hour-list">
                <li class="clearfix">
                  <a href="javascript:;">
                    <span class="lf hour-title"></span>
                    <span class="lf hour-time"></span>
                    <span class="lf play-btn"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="lf course-about-rf">
            <h2>讲师简介</h2>
            <div class="row">
              <div class="lf"><img src="http://placehold.it/100x100" alt=""></div>
              <div class="lf"><p class="name">阮帅</p><p>萝卜网讲师</p></div>
            </div>
            <div class="lecturer-info">
              曾任国美在线电子商务有限公司总监、红孩子集团缤购营销总经理、北京物美商业集团采购中心。十六年零售业经验，由传统零售进入电子商务。由采购买手转为营销、运营、网站管理。具备大型企业十年专业采购经历.有较强的执行力及商品营销、商品规划、组织能力。
            </div>
            <h2>课程公告</h2>
            <div class="nr">暂无课时公告</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 添加课时 -->
  <div class="popup hide" id="add-hour-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>添加课时</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="add-hour-form" class="popup-form cmxform">
          <d