<input type="hidden" id="page-title" value="<?php use yii\helpers\Html; echo Html::encode($title)?>">
<link rel="stylesheet" href="/static/css/course.css">
<!-- header end -->
  <section class="section-panel news-panel">
    <div class="panel-body bt0">
      <!-- <div class="crumbs"><a href="javascript:history.back(-1)">返回上一级</a><span> &gt; 课程介绍</span></div> -->
      <div class="panel-body-course sub b0">
        <div class="course-info clearfix" id="course-info">
          <script id="courseInfo" type="text/html">
          {{if type==1}}
            <div class="lf course-info-left">
              <a href="javascript:;"><img src="{{detail.coures_cover}}" width="450" height="268" alt=""></a>
            </div>
            <div class="rf course-info-right">
              <div class="clearfix">
                <div class="lf">
                  <div class="title">{{detail.coures_title}}</div>
                  {{if detail.coures_type==1}}
                  <div class="price original">原价：<strong>￥{{detail.coures_price}}元</strong></div>
                  <div class="price now">现价：<strong>￥{{detail.privilege_price}}元</strong></div>
                  {{else}}
                  <div class="price now"><strong>免费课程</strong></div>
                  {{/if}}
                  <div class="row operate" id="operate-status">
                    {{if status.is_login==1}}
                    {{if status.buy==1||detail.coures_type==0||self==1}}
                    <a href="/couresdetail/video?cid={{detail.coures_id}}&amp;type={{type}}" class="lf btn">立即观看</a>
                    {{else}}
                    <a href="javascript:;" id="course-buy" data-cid="{{detail.coures_id}}" data-title="{{detail.coures_title}}" data-type="{{detail.coures_type}}" class="lf btn">立即购买</a>
                    {{/if}}
                    {{if status.enshrine==1}}
                    <button class="lf btn" id="cancel-collect">取消收藏</button>
                    {{else}}
                    <button class="lf btn" id="collect">点击收藏</button>
                    {{/if}}
                    <button class="lf btn" id="send-letter">我要咨询</button>
                    {{else}}
                    {{if detail.coures_type==1}}
                    <button class="lf btn click-login">立即购买</button>
                    {{else}}
                    <button class="lf btn click-login">立即观看</button>
                    {{/if}}
                    <button class="lf btn click-login">点击收藏</button>
                    <button class="lf btn click-login">我要咨询</button>
                    {{/if}}
                  </div>
                </div>
                <div class="rf">
                  <div class="row row1">
                    <div class="lf row-lf"><p class="data">观看数</p><p>{{detail.watch_num}}次</p></div>
                    <div class="rf row-rf"><p class="data">评分</p><!-- <p class="star-{{detail.score}}"></p> -->
                      <div class="star">
                        <div class="star-ray" style="width:{{detail.score}}%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="lf row-lf"><p class="data">难度</p><p>{{if detail.difficulty==1}}初级{{else if detail.difficulty==2}}中级{{else}}高级{{/if}}</p></div>
                    <div class="rf row-rf"><p class="data">课时</p><p>{{detail.hour_num}}课时</p></div>
                  </div>
                  <div class="clearfix">
                    <a href="javascript:;" class="data lf">分享</a>
                    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                  </div>
                </div>
              </div>
            </div>
          {{else}}
            <div class="lf course-info-left">
              <a href="javascript:;"><img src="{{detail.live_cover}}" width="450" height="268" alt=""></a>
            </div>
            <div class="rf course-info-right">
              <div class="clearfix">
                <div class="lf">
                  <div class="title">{{detail.live_title}}</div>
                  {{if detail.live_type==1}}
                  <div class="price original">原价：<strong>￥{{detail.live_price}}元</strong></div>
                  <div class="price now">现价：<strong>￥{{detail.privilege_price}}元</strong></div>
                  {{else}}
                  <div class="price now"><strong>免费课程</strong></div>
                  {{/if}}
                  <div class="row operate" id="operate-status">
                    {{if status.is_login==1}}
                    {{if status.buy==1||detail.live_type==0||self==1}}
                      {{if isend==0}}
                      <a href="/broadcasting/classroom?cid={{detail.live_id}}" class="lf btn">立即观看</a>
                      {{else}}
                      <a href="/couresdetail/direct-video?cid={{detail.live_id}}&amp;type={{type}}" class="lf btn">观看回放</a>
                      {{/if}}
                    {{else}}
                    <a href="javascript:;" id="course-buy" data-cid="{{detail.live_id}}" data-title="{{detail.live_title}}" data-type="{{detail.live_type}}" class="lf btn">立即购买</a>
                    {{/if}}
                    {{if status.enshrine==1}}
                    <button class="lf btn" id="cancel-collect">取消收藏</button>
                    {{else}}
                    <button class="lf btn" id="collect">点击收藏</button>
                    {{/if}}
                    <button class="lf btn" id="send-letter">我要咨询</button>
                    {{else}}
                    {{if detail.live_type==1}}
                    <button class="lf btn click-login">立即购买</button>
                    {{else}}
                    <button class="lf btn click-login">立即观看</button>
                    {{/if}}
                    <button class="lf btn click-login">点击收藏</button>
                    <button class="lf btn click-login">我要咨询</button>
                    {{/if}}
                  </div>
                </div>
                <div class="rf">
                  <div class="row row1">
                    <div class="lf row-lf"><p class="data">观看数</p><p>{{detail.watch_num}}次</p></div>
                    <div class="rf row-rf"><p class="data">类型</p><p>直播</p></div>
                  </div>
                  <div class="row">
                    <div class="lf row-lf"><p class="data">难度</p><p>{{if detail.difficulty==1}}初级{{else if detail.difficulty==2}}中级{{else}}高级{{/if}}</p></div>
                    <div class="rf row-rf"><p class="data">课时</p><p>{{detail.hour_num}}课时</p></div>
                  </div>
                  <div class="clearfix">
                    <a href="javascript:;" class="data lf">分享</a>
                    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
          </script>
        </div>
        <div class="course-about clearfix">
          <div class="lf course-about-lf">
            <h2 class="head clearfix" id="course-about-head">
              <a href="javascript:;" class="active">课程介绍</a>
              <a href="javascript:;" class="hide" id="comment-btn">评价</a>
            </h2>
            <div class="body" id="course-about-body">
              <div class="body-item">
                <div class="introduce" id="course-introduce">
                  该课程暂无介绍
                </div>
                <div class="hour" id="hour-list">
                  <script id="hourList" type="text/html">
                  {{if type==1}}
                    <h2 class="head hour-head">本课课时</h2>
                    <ul class="hour-list">
                    {{if hour_num>0}}
                    {{each hour as value i}}
                      <li class="clearfix">
                        {{if is_login==1}}
                          {{if buy==1||value.is_free==1||self==1}}
                            <a href="/couresdetail/video?cid={{cid}}&amp;type={{type}}&amp;hid={{value.hour_id}}">
                              <span class="hour-title {{if value.is_free==1}}free{{/if}}">{{value.hour_title}}</span>
                              <span class="rf hour-time">{{value.video_time}}</span>
                            </a>
                          {{else}}
                            <a href="javascript:;" class="no-buy">
                              <span class="hour-title">{{value.hour_title}}</span>
                              <span class="rf hour-time">{{value.video_time}}</span>
                            </a>
                          {{/if}}
                        {{else}}
                          <a href="javascript:;" class="click-login">
                            <span class="hour-title {{if value.is_free==1}}free{{/if}}">{{value.hour_title}}</span>
                            <span class="rf hour-time">{{value.video_time}}</span>
                          </a>
                        {{/if}}
                      </li>
                    {{/each}}
                    {{else}}
                      <div class="no-hour">该课程暂无课时</div>
                    {{/if}}
                    </ul>
                  {{else}}
                    <h2 class="head hour-head">回放列表</h2>
                    <ul class="hour-list">
                    {{if liveVideos.length>0}}
                    {{each liveVideos as value i}}
                      <li class="clearfix">
                        {{if is_login==1}}
                          {{if buy==1||free==0||self==1}}
                            <a href="/couresdetail/direct-video?cid={{cid}}&amp;type=0&amp;hid={{value.vid}}">
                              <span class="hour-title">{{value.vname}}</span>
                              <span class="rf hour-time">{{value.create_date}}</span>
                            </a>
                          {{else}}
                            <a href="javascript:;" class="no-buy">
                              <span class="hour-title">{{value.vname}}</span>
                              <span class="rf hour-time">{{value.create_date}}</span>
                            </a>
                          {{/if}}
                        {{else}}
                          <a href="javascript:;" class="click-login">
                            <span class="hour-title">{{value.vname}}</span>
                            <span class="rf hour-time">{{value.create_date}}</span>
                          </a>
                        {{/if}}
                      </li>
                    {{/each}}
                    {{else}}
                      <div class="no-hour">该课程暂无回放</div>
                    {{/if}}
                    </ul>
                  {{/if}}
                  </script>
                </div>
              </div>
              <div class="body-item hide">
                <ul class="comment-list">
                <script id="commentList" type="text/html">
                {{if comment_sum==0}}
                <li class="no-comment">该课程暂无评论</li>
                {{else}}
                {{each comment as value i}}
                <li class="clearfix review-item">
                  <div class="user lf">
                    <a href="/home?uid={{value.user_id}}" target="_blank">
                      <span class="avatar"><img src="{{if value.portrait}}{{value.portrait}}{{else}}http://image.agodpig.com/default/albumdefault.png{{/if}}" width="100" height="100" alt=""></span>
                      <p>{{if value.nick_name}}{{value.nick_name}}{{else}}{{value.username}}{{/if}}</p>
                      <p><img src="{{value.grade_image}}" width="22" height="22" alt=""></p>
                    </a>
                  </div>
                  <div class="comment-content clearfix">
                    <div class="score">
                      <span class="star-{{value.score}}"></span>
                    </div>
                    <p>{{value.content}}</p>
                    <div class="date">{{value.create_date}}</div>
                  </div>
                </li>
                {{/each}}
                {{/if}}
                </script>
                </ul>
              </div>
            </div>
          </div>
          <div class="rf course-about-rf">
            <div class="module">
              <h2 class="head">讲师简介</h2>
              <div class="body" id="lecturer-module">
              <script id="lecturerModule" type="text/html">
                <div class="row">
                  <div class="lf avatar"><a href="/home?uid={{user_id}}" target="_blank"><img src="{{portrait}}" width="100" height="100" alt=""></a></div>
                  <div class="lf name"><p><img src="{{grade}}" class="grade" width="22" height="22" alt="">{{username}}</p><p>昵称：{{nick_name}}</p></div>
                </div>
                <div class="lecturer-info">
                  {{if introduce==''}}
                  暂无介绍
                  {{else}}
                  {{introduce}}
                  {{/if}}
                </div>
              </script>
              </div>
            </div>
            <div class="module">
              <h2 class="head">课程公告</h2>
              <div class="body">
                <div class="nr" id="course-notice">暂无课程公告</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 发送私信 -->
  <div class="popup hide" id="letter-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>发送私信</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="letter-form" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">标题</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="title" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">内容</label>
            <div class="form-controls">
              <textarea name="content" id="" class="form-textarea" required></textarea>
            </div>
          </div>
          <input type="hidden" value="" name="user_id" id="user-id">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <div class="popup hide" id="no-buy-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>尚未购买</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <p class="popup-alert">该课程需要购买后才能观看</p>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    seajs.use('/static/js/course/course_info.js');
  </script>
</body>
</html>