<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cmn-Hans" class="no-js">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>阿猪网首页</title>
  <meta name="Keywords" content="阿猪网首页">
  <meta name="Description" content="阿猪网首页">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/static/css/rely/reset.css">
  <!-- <link rel="stylesheet" href="/static/css/base.css"> -->
  <!-- 让低版本ie浏览器更好的兼容 -->
  <!--[if lt IE 7]>
    <script>
      window.location.href="http://cdn.dmeng.net/upgrade-your-browser.html?referrer="+location.href;
    </script>
  <![endif]-->
  <!-- 兼容ie8以下的盒模型 -->
  <!--[if lt IE 8]>
    <style>
      *{*behavior: url(/static/css/rely/boxsizing.htc);}
    </style>
  <![endif]-->
  <!-- 让低版本 ie 兼容 html5 新标签 -->
  <!--[if lt IE 9]>
    <script src="/static/js/polyfills/html5shiv.min.js"></script>
    <script src="/static/css/video_files/respond.min.js?6.17.0"></script>
    <script src="/static/js/plugins/video/ie8/videojs-ie8.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/static/css/video.css">
  <!-- <link rel="stylesheet" href="/static/css/video-js.css"> -->
  <link rel="stylesheet" href="/static/js/plugins/video/video-js.min.css">
  <!-- If you'd like to support IE8 -->
</head>
<body>
  <div class="lesson-dashboard">
    <div class="dashboard-content">
      <a class="btn btn-primary nav-btn back-course-btn" href="javascript:;" id="current-course"><span class="glyphicon glyphicon-chevron-left"></span> 返回课程</a>
      <!-- <a class="btn btn-primary nav-btn next-lesson-btn" href="javascript:" title=""><span class="glyphicon glyphicon-chevron-down"></span></a> -->
      <div class="course-pay-title">
        <p id="hour-title"></p>
      </div>
      <div class="dashboard-body">
        <div class="lesson-content" id="lesson-video-content">
          <script id="lessonVideoContent" type="text/html">
            <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="100%" height="100%" data-setup='{"autoplay":true}'>
              <source src="{{data}}" type="video/mp4" id="video-mp4">
              <!-- <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
              <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
              <track kind="captions" src="../shared/example-captions.vtt" srclang="en" label="English"></track> -->
              <!-- Tracks need an ending tag thanks to IE9 -->
              <!-- <track kind="subtitles" src="../shared/example-captions.vtt" srclang="en" label="English"></track> -->
              <!-- Tracks need an ending tag thanks to IE9 -->
              <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
          </script>
        </div>
        <div id="video-shade"></div>
      </div>
      <!-- 打赏 -->
      <div id="enjoy-effect" class="hide">
        多谢打赏，阿猪会通知讲师的
      </div>
      <a class="enjoy main-icon" href="javascript:;" id="enjoy-con"></a>
      <div class="enjoy-box hide">
        <div class="clearfix">
          <a href="javascript:;" class="enjoy-m lf" data-m="1">1元</a>
          <a href="javascript:;" class="enjoy-m lf" data-m="2">2元</a>
          <a href="javascript:;" class="enjoy-m lf" data-m="5">5元</a>
          <a href="javascript:;" class="enjoy-m lf" data-m="10">10元</a>
        </div>
        其他金额：<input type="text" class="enjoy-input" id="enjoy-val" onkeyup="value=value.replace(/[^\d|]/g,'')" value="1">
        <button type="button" class="enjoy-btn" id="enjoy-btn">确认</button>
      </div>
      <!-- 弹幕 -->
      <div class="bullet-con">
        <a href="javascript:;" class="bullet-con-btn"></a>
        <input name="" id="" class="chat-textarea"></input>
        <button class="chat-submit btn">发送</button>
      </div>
    </div>
    <div class="course-data">
      <div class="course-data-title" id="course-data-title"></div>
      <div class="course-data-row clearfix" id="course-type-video">
        <div class="lf">评分：</div><div class="lf star-5" id="grade-star"></div>
      </div>
      <div  class="course-data-row">
        <div class="teacher" id="aeaoofnhgocdbnbeljkmbjdmhbcokfdb-mousedown">
          讲师：<span id="teacher-name"></span>
        </div>
      </div>
      <input type="hidden" id="lecturer-id" value="">
    </div>
    <div class="toolbar toolbar-open" id="lesson-dashboard-toolbar">
      <div class="toolbar-nav">
        <ul class="toolbar-nav-stacked" id="lesson-toolbar-primary">
          <li class="active">
            <a href="javascript:;"><span class="glyphicon glyphicon-th-list"> </span>目录</a>
          </li>
          <li>
            <a href="javascript:;"><span class="glyphicon glyphicon-question-sign"> </span>问答</a>
          </li>
          <li>
            <a href="javascript:;"><span class="glyphicon es-icon glyphicon-comment"> </span>评论</a>
          </li>
          <li>
            <a href="javascript:;"><span class="glyphicon glyphicon-edit"> </span>笔记</a>
          </li>
          <li>
            <a href="javascript:;" class="glyphicon-download-data"><span class="glyphicon glyphicon-download-alt"><!-- <span class="badge">1</span> --></span>资料</a>
          </li>
        </ul>
        <ul class="list-unstyled">
          <li class="es-qrcode toolbar-qrcode">
            <i class="es-icon es-icon-qrcode"></i>
            <p>扫一扫</p>
            <div class="qrcode-popover2">
              <img src="/static/img/erweima.jpg" class="qrcode center-block">
              <p>扫二维码下载app</p>
            </div>
          </li>
        </ul>
       <!--  <ul class="toolbar-nav-stacked" id="lesson-toolbar-secondary">
          <li class="hide-pane" style="">
            <a href="javascript:" id="close-sidebar"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </li>
        </ul> -->
      </div>
      <div class="toolbar-pane-container">
        <div class="lesson-pane">
          <div class="course-item-list-in-toolbar-pane ps-container show">
            <ul class="period-list" id="hour-item-list">
            <script id="hourItemList" type="text/html">
            {{each hour as value i}}
              <li class="period lesson-item lesson-item-66" data-hid="{{value.hour_id}}" data-src="{{value.hour_src}}">
                <a href="/couresdetail/video?cid={{cid}}&amp;type={{type}}&amp;hid={{value.hour_id}}" title="如何更好的使用阿猪网学习">
                  <i class="es-icon es-icon-doing color-primary status-icon"></i>
                  <span class="title">   课时{{i+1}}：{{value.hour_title}}</span>
                  <!-- <i class="es-icon es-icon-filedownload mls" title="资料"></i> -->
                  <span class="date" title="视频时长{{value.video_time}}">{{value.video_time}}</span>
              <!--     <span class="course-type">
                    <i class="es-icon es-icon-videoclass"></i>
                  </span> -->
                </a>
              </li>
            {{/each}}
            </script>
            </ul>
          </div>
          <div class="course-item-list-in-toolbar-pane ps-container">
            <form id="faq-form" class="pd10 cmxform" method="post">
              <div class="form-group">
                <label for="form-faq-title"></label>
                <div class="form-controls">
                  <input type="text" name="CouresAnswers[title]" id="form-faq-title" class="form-input" value="" placeholder="我要提问" required maxlength="50">
                </div>
              </div>
              <div class="form-group">
                <div class="form-controls">
                  <textarea name="CouresAnswers[content]" rows="4" class="form-richtext" class="form-textarea"></textarea>
                </div>
              </div>
              <input type="hidden" name="CouresAnswers[hour_id]" value="" class="hid">
              <div class="form-group">
                <div class="form-submit">
                  <!-- <a href="javascript:;" id="reset">取消</a> -->
                  <button type="submit" class="button-submit">提交</button>
                </div>
              </div>
            </form>
            <ul class="faq-list" id="faq-list">
            <script id="faqList" type="text/html">
            {{each list as value i}}
              <li>
                <h2><a href="javascript:;" class="faq-title" data-aid="{{value.answer_id}}">{{value.title}}</a></h2>
                <div class="metas">
                  <a class="link-dark lf" href="/user/{{value.user_id}}">{{value.username}}</a>
                  &nbsp;发表于 {{value.create_date}}
                  <span class="bullet">&nbsp;•&nbsp;</span>
                  <a href="javascript:;" class="faq-title" data-aid="{{value.answer_id}}">{{value.num}}回答</a>
                </div>
              </li>
            {{/each}}
            </script>
            </ul>
            <div class="lesson-plugin-pane lesson-question-plugin-pane" id="answers-details">
              <script id="answersDetails" type="text/html">
                <div class="lesson-question-plugin-pane-header clearfix">
                  <button type="button" class="btn btn-default back-to-list" id="faq-back">返回</button>
                  <h4>问答<i>详情...</i></h4>
                </div>
                <div class="lesson-question-plugin-pane-thread">
                  <h5><a href="javascript:;" target="_blank">{{answer.title}}</a></h5>
                  <div class="lesson-question-plugin-pane-thread-content editor-text">
                    <p>{{answer.content}}</p>
                  </div>
                </div>
                <div class="lesson-question-plugin-pane-posts">
                  <div class="posts-header">
                    <h5><span data-role="post-number">{{answer.num}}</span> 回答</h5>
                  </div>
                </div>
                <ul data-role="post-list" class="posts">
                  {{each reply as value i}}
                  <li class="post-item">
                    <div class="post-item-heading clearfix">
                      <img src="{{value.portrait}}" class="avatar">
                      <div class="infos">
                        <div class="nickname">
                          <a href="/user/404{{value.user_id}}" class="nickname">{{value.username}}</a>
                          {{if value.identity==1}}
                          <span class="teacher-flag">老师</span>
                          {{/if}}
                        </div>
                        <div class="time">{{value.create_date}}</div>
                      </div>
                    </div>
                    <div class="post-item-body">
                      <p>{{value.content}}</p>
                    </div>
                  </li>
                  {{/each}}
                </ul>
                <form id="add-answer-form" class="pd10 cmxform" method="post">
                  <div class="form-group">
                    <div class="controls">
                      <textarea id="post_content" name="CouresReply[content]" required="required" class="form-textarea" rows="4"></textarea>
                    </div>
                  </div>
                  <input type="hidden" name="CouresReply[answer_id]" value="{{answer.answer_id}}">
                  <div class="form-group">
                    <div class="controls clearfix">
                      <button type="submit" class="btn btn-primary rf">添加答案</button>
                    </div>
                  </div>
                </form>
              </script>
            </div>
          </div>
          <div class="course-item-list-in-toolbar-pane ps-container">
            <form id="comment-form" class="pd10 cmxform" method="post">
              <div class="form-group">
                <label class="control-label">请打分</label>
                <div class="form-controls">
                  <div class="star-5" id="star-con"></div>
                  <div>
                    <div class="star star5" data-i="5"></div>
                    <div class="star star4" data-i="4"></div>
                    <div class="star star3" data-i="3"></div>
                    <div class="star star2" data-i="2"></div>
                    <div class="star star1" data-i="1"></div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-controls">
                  <textarea name="CouresComment[content]" rows="4" id="form-comment-nr" required class="form-textarea"></textarea>
                </div>
              </div>
              <input type="hidden" name="CouresComment[score]" id="star-val" value="5">
              <input type="hidden" name="cid" class="cid" value="">
              <div class="form-group">
                <div class="form-submit">
                  <!-- <a href="javascript:;" id="reset">取消</a> -->
                  <span id="comment-succeed" class="hide hot">评论成功</span>
                  <button type="submit" class="button-submit">提交</button>
                </div>
              </div>
            </form>
          </div>
          <div class="course-item-list-in-toolbar-pane ps-container">
            <form id="note-form" class="pd10 cmxform" method="post">
              <div class="form-group">
                <div class="form-controls" id="note-content">
                <script id="noteContent" type="text/html">
                  <textarea name="CouresNote[content]" rows="4" class="form-textarea" id="note-textarea" required>{{list}}</textarea>
                </script>
                </div>
              </div>
              <input type="hidden" name="cid" class="cid" value="">
              <input type="hidden" name="CouresNote[ispublic]" value="1">
              <div class="form-group">
                <div class="form-submit">
                  <span id="note-save" class="hide hot">保存成功</span>
                  <button type="submit" class="button-submit">保存笔记</button>
                </div>
              </div>
            </form>
          </div>
          <div class="course-item-list-in-toolbar-pane ps-container">
            <ul class="period-list" id="data-item-list">
            <script id="dataItemList" type="text/html">
            {{each list as value i}}
              <li class="period lesson-item lesson-item-66">
                <a href="{{value.datum_address}}" download class="download-data" data-did="{{value.datum_id}}">
                  <span class="title">{{value.datum_title}}</span>
                  <i class="es-icon es-icon-filedownload mls" title="资料"></i>
                  <span class="date">{{value.create_date}}</span>
                </a>
              </li>
            {{/each}}
            </script>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- js -->
  <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/lib/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="/static/js/lib/template.js"></script>
  <script src="/static/js/lib/sea.js" id="seajsnode"></script>
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script src="/static/js/plugins/kindeditor/kindeditor-min.js?v=2"></script>
  <!-- 视频 -->
  <!-- <script src="/static/js/plugins/video/video.min.js"></script> -->
  get
  <!-- 弹幕 -->
  <script src="http://139.196.195.238:8089/socket.io/socket.io.js"></script>
  <script src="/static/js/video/barrage.js"></script>
  <script>
    var userMid;
    // seajs
    seajs.config({
      alias: {
        'modernizr': '/static/js/polyfills/modernizr.min',
        'common' : '/static/js/common.js',
        'slick': '/static/js/plugins/slick/slick.min',
        'main' : '/static/js/main.js',
        'index' : '/static/js/index.js'
      }
    });
    seajs.use('/static/js/video/video.js');
  </script>
</body>
</html>