<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel course">
    <header class="panel-heading clearfix">
    <script id="panelHeading" type="text/html">
      <a href="javascript:;" class="active">全部课程</a>
      {{each list as value i}}
        {{if value.gc_parent_id==0}}
        <div><a href="javascript:;" data-tid="{{value.gc_id}}">{{value.gc_name}}</a>
        {{else}}
          <ul>
            <li><a href="javascript:;" data-tid="{{value.gc_id}}">{{value.gc_name}}</a></li>
          </ul>
        {{/if}}
        </div>
      {{/each}}
    </script>
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
        <div class="select-type clearfix">
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-grade" data-val="">课程难度</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="1">初级课程</a></li>
              <li><a href="javascript:;" data-arg="2">中级课程</a></li>
              <li><a href="javascript:;" data-arg="3">高级课程</a></li>
            </ul>
          </div>
        </div>
        <ul class="course-list direct-course clearfix">
        <script id="directCourse" type="text/html">
        {{each list as value i}}
          <li>
            <a href="{{if value.time.state==1}}/broadcasting/classroom?cid={{value.live_id}}{{else}}javascript:;{{/if}}" target="_blank">
              <img src="{{value.live_cover}}" alt="">
              {{if value.time.state==0}}
              <span class="full course-time"><div class="clearfix"><strong>距开始直播：</strong><b class="b">{{value.time.hour}}</b><strong>小时</strong><b class="b">{{value.time.min}}</b><strong>分</strong></div></span>
              {{else if value.time.state==1}}
              <span class="full"><b>开始直播</b></span>
              {{else if value.time.state==2}}
              <span class="full course-time"><div class="clearfix"><strong>开播时间：</strong><b class="b">{{value.time.start_time}}</b><strong>点到</strong><b class="b">{{value.time.end_time}}</b><strong>点</strong></div></span>
              {{else if value.time.state==3}}
              <span class="full"><b>课程已过期</b></span>
              {{/if}}
            </a>
            <p class="course-title"><a href="{{if value.time.state==1}}/broadcasting/classroom?cid={{value.live_id}}{{else}}javascript:;{{/if}}" target="_blank">{{value.live_title}}</a></p>
          </li>
        {{/each}}
        </script>
        </ul>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script>
    seajs.use('/static/js/course/direct_list.js');
  </script>
</body>
</html>