<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="javascript:;" class="active">销售课程</a>
      <a href="javascript:;">情感教育</a>
      <a href="javascript:;">明星</a>
      <a href="javascript:;">酷玩</a>
      <a href="javascript:;">其它</a>
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
        <ul class="course-list direct-course clearfix">
        <script id="directCourse" type="text/html">
        {{each list as value i}}
          <li>
            <a href="/broadcasting/classroom?cid={{value.live_id}}" target="_blank">
              <img src="{{value.live_cover}}" alt="">
              <span>{{value.live_title}}</span>
            </a>
          </li>
        {{/each}}
        </script>
        </ul>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script>
    seajs.use('/static/js/course/course_list.js');
  </script>
</body>
</html>