<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix" id="course-head">
    <script id="courseHead" type="text/html">
    {{if identity}}
      <a href="/coures/direct">创建直播</a>
      <a href="/coures/course">创建录播</a>
      <a href="/coures/teaching">我的教学</a>
    {{/if}}
      <a href="/coures/study">我的学习</a>
      <a href="/coures/note" class="active">我的笔记</a>
    {{if identity}}
      <a href="/coures/manage">学员管理</a>
    {{/if}}
    </script>
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
        <div class="select-type clearfix">
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle">全部课程</a>
            <ul class="select-items">
              <li><a href="javascript:;">直播课程</a></li>
              <li><a href="javascript:;">录播课程</a></li>
              <li><a href="javascript:;">助播课程</a></li>
            </ul>
          </div>
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle">发布日期</a>
            <ul class="select-items">
              <li><a href="javascript:;">过去一周</a></li>
              <li><a href="javascript:;">过去一个月</a></li>
              <li><a href="javascript:;">过去两个月</a></li>
              <li><a href="javascript:;">过去半年</a></li>
            </ul>
          </div>
        </div>
        <ul class="course-list study-course clearfix">
          <li>
            <a href="javascript:;" target="_blank">
              <img src="/static/img/sec02-item01.jpg" alt="">
              <span>这是课程标题</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" target="_blank">
              <img src="/static/img/sec02-item01.jpg" alt="" id="aeaoofnhgocdbnbeljkmbjdmhbcokfdb-mousedown">
              <span>这是课程标题</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" target="_blank">
              <img src="/static/img/sec02-item01.jpg" alt="">
              <span>这是课程标题</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" target="_blank">
              <img src="/static/img/sec02-item01.jpg" alt="">
              <span>这是课程标题</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" target="_blank">
              <img src="/static/img/sec02-item01.jpg" alt="">
              <span>这是课程标题</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" target="_blank">
              <img src="/static/img/sec02-item01.jpg" alt="">
              <span>这是课程标题</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" target="_blank">
              <img src="/static/img/sec02-item01.jpg" alt="">
              <span>这是课程标题</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" target="_blank">
              <img src="/static/img/sec02-item01.jpg" alt="">
              <span>这是课程标题</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" target="_blank">
              <img src="/static/img/sec02-item01.jpg" alt="">
              <span>这是课程标题</span>
            </a>
          </li>
        </ul>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script>
    // 下拉菜单
    $('.handle-icon.triangle').on('click',function(){
      $(this).parent().siblings().find('.select-items').removeClass('active');
      $(this).next().toggleClass('active');
    });
    $('.select-items a').on('click',function(){
      $('.select-items').removeClass('active');
    });
    // 选择操作目标
    $('#controlAll').on('click',function(){
      var checklist = document.getElementsByName("selected");
      var len=checklist.length;
      if(document.getElementById("controlAll").checked){
        for(var i=0;i<len;i++){
          checklist[i].checked = 1;
        }
      }else{
        for(var j=0;j<len;j++){
          checklist[j].checked = 0;
        }
      }
    });
  </script>
</body>
</html>