<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix" id="course-head">
    <script id="courseHead" type="text/html">
    {{if identity}}
      <a href="/coures/direct">创建直播</a>
      <a href="/coures/course">创建录播</a>
      <a href="/myteach/teaching">我的教学</a>
    {{/if}}
      <a href="/coures/study">我的学习</a>
      <a href="/coures/note" class="active">我的笔记</a>
    {{if identity}}
      <a href="/coures/manage">学员管理</a>
    {{else}}
      <a href="/group/my-group">我的小组</a>
    {{/if}}
    </script>
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
       <!--  <div class="select-type clearfix">
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle">全部课程</a>
            <ul class="select-items">
              <li><a href="javascript:;">直播课程</a></li>
              <li><a href="javascript:;">录播课程</a></li>
              <li><a href="javascript:;">助播课程</a></li>
            </ul>
          </div>
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle">发布日期</a>
            <ul class="select-items">
              <li><a href="javascript:;">过去一周</a></li>
              <li><a href="javascript:;">过去一个月</a></li>
              <li><a href="javascript:;">过去两个月</a></li>
              <li><a href="javascript:;">过去半年</a></li>
            </ul>
          </div>
        </div> -->
        <ul class="note-course clearfix" id="note-list">
        <script id="noteList" type="text/html">
          {{if list.length>0}}
          {{each list as value i}}
          <li class="row">
            <div class="lf">
              <img src="{{value.coures_cover}}" alt="">
            </div>
            <div class="lf">
              <a href="/couresdetail?cid={{value.coures_id}}&type=1" target="_blank">{{value.coures_title}}</a>
              <p>讲师：{{value.audit_name}}</p>
            </div>
            <div class="rf">
              <a href="javascript:;" data-cid="{{value.coures_id}}" class="look-note">查看笔记</a>
              <a href="javascript:;" data-nid="{{value.note_id}}" class="delete-note">删除笔记</a>
            </div>
          </li>
          {{/each}}
          {{else}}
            <div class="no-data">暂无笔记</div>
          {{/if}}
        </script>
        </ul>
        <div id="note-nr-box">
          <div id="note-content" class="note-nr">
          <script id="noteContent" type="text/html">
            {{data}}
          </script>
          </div>
          <button class="btn" id="close-note">返回</button>
        </div>
      </div>
      <div class="ajax-paging">
        <div class="clearfix">
          <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
          <a href="javascript:;" id="paging-next" class="handle-icon right-arrows"></a>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script>
    seajs.use('/static/js/course/note.js');
  </script>
</body>
</html>