<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix" id="course-head">
    <script id="courseHead" type="text/html">
    {{if identity}}
      <a href="/coures/direct">创建直播</a>
      <a href="/coures/course">创建录播</a>
      <a href="/coures/teaching">我的教学</a>
    {{/if}}
      <a href="/coures/study" class="active">我的学习</a>
      <a href="/coures/note">我的笔记</a>
    {{if identity}}
      <a href="/coures/manage">学员管理</a>
    {{/if}}
    </script>
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
        <div class="select-type clearfix">
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-course" data-val="liveCoures">直播课程</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="liveCoures">直播课程</a></li>
              <li><a href="javascript:;" data-arg="coures">录播课程</a></li>
            </ul>
          </div>
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-date" data-val="null">学习日期</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="7">过去一周</a></li>
              <li><a href="javascript:;" data-arg="30">过去一个月</a></li>
              <li><a href="javascript:;" data-arg="60">过去两个月</a></li>
              <li><a href="javascript:;" data-arg="180">过去半年</a></li>
            </ul>
          </div>
          <div class="rf"><a href="javascript:;" class="handle-icon delete" id="handle-delete">删除</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon batch" id="handle-batch">批量处理</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon"><input type="checkbox" name="controlAll" id="controlAll"><label for="controlAll">全选</label></a></div>
        </div>
        <ul class="course-list study-course clearfix">
          <script id="studyCourse" type="text/html">
          {{each list as value i}}
            <li>
            {{if value.type!=0}}
              <a href="/broadcasting/classroom?cid={{value.coures_id}}" target="_blank">
                <img src="{{value.coures_cover}}" alt="">
                <span class="full"><b>抓紧学习</b></span>
              </a>
              <p class="course-title"><a href="/broadcasting/classroom?cid={{value.coures_id}}" target="_blank">{{value.coures_title}}</a></p>
              <div class="clearfix">
                <div class="lf name"><img src="{{value.lecturer.grade}}" alt="">讲师：{{value.lecturer.audit_name}}</div>
                <a href="javascript:;" class="rf chour">查看课时</a>
              </div>
              <div class="select-checkbox"><input type="checkbox" name="selected" data-type="{{value.type}}" value="{{value.coures_id}}"></div>
            {{else}}
              <a href="/broadcasting/classroom?cid={{value.live_id}}" target="_blank">
                <img src="{{value.live_cover}}" alt="">
                {{if value.time.state==0}}
                <span class="full course-time"><div class="clearfix"><strong>距开始直播：</strong><b class="b">{{value.time.hour}}</b><strong>小时</strong><b class="b">{{value.time.min}}</b><strong>分</strong></div></span>
                {{else if value.time.state==1}}
                <span class="full"><b>开始直播</b></span>
                {{else if value.time.state==2}}
                <span class="full course-time"><div class="clearfix"><strong>开播时间：</strong><b class="b">{{value.time.start_time}}</b><strong>点到</strong><b class="b">{{value.time.end_time}}</b><strong>点</strong></div></span>
                {{else if value.time.state==3}}
                <span class="full"><b>课程已过期</b></span>
                {{/if}}
              </a>
              <p class="course-title"><a href="/broadcasting/classroom?cid={{value.live_id}}" target="_blank">{{value.live_title}}</a></p>
              <div class="select-checkbox"><input type="checkbox" name="selected" data-type="{{value.type}}" value="{{value.live_id}}"></div>
            {{/if}}
            </li>
          {{/each}}
          </script>
        </ul>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script>
    seajs.use('/static/js/course/study.js');
  </script>
</body>
</html>