<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/coures/direct">创建直播</a>
      <a href="/coures/course">创建录播</a>
      <a href="/coures/teaching" class="active">我的教学</a>
      <a href="/coures/study">我的学习</a>
      <a href="/coures/note">我的笔记</a>
      <a href="/coures/manage">学员管理</a>
      <a href="my_datum.html" class="mydatum-btn">我的资料库</a>
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
        <div class="select-type clearfix">
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-course" data-val="">全部课程</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="liveCoures" id="live-pitch">直播课程</a></li>
              <li><a href="javascript:;" data-arg="coures">录播课程</a></li>
              <li><a href="javascript:;" data-arg="assis">助播课程</a></li>
            </ul>
          </div>
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-status" data-val="">发布状态</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="1">已发布</a></li>
              <li><a href="javascript:;" data-arg="0">未发布</a></li>
            </ul>
          </div>
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-date" data-val="null">发布日期</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="7">过去一周</a></li>
              <li><a href="javascript:;" data-arg="30">过去一个月</a></li>
              <li><a href="javascript:;" data-arg="60">过去两个月</a></li>
              <li><a href="javascript:;" data-arg="180">过去半年</a></li>
            </ul>
          </div>
          <div class="rf"><a href="javascript:;" class="handle-icon delete" id="handle-delete">删除</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon edit" id="handle-edit">编辑</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon invite hide" id="handle-invite">一键邀请</a></div>
        </div>
        <table class="table-course" id="table-course-list">
        <script id="tableCourseList" type="text/html">
          <tbody>
            <tr>
              <th class="th1"><input type="checkbox" name="controlAll" id="controlAll"><label for="controlAll">全选</label></th>
              <th class="th2">名称</th>
              <th class="th3">图片</th>
              <th class="th4">学员数</th>
              <th class="th5">价格</th>
              <!-- <th class="th6">发布状态</th> -->
              <th class="th7">创建时间</th>
              <th class="th8">操作</th>
            </tr>
            {{each list as value i}}
            <tr>
            {{if value.type==1}}
              <td><input type="checkbox" name="selected" data-type="{{value.type}}" value="{{value.coures_id}}"></td>
              <td><a href="/broadcasting?cid={{value.coures_id}}" target="_blank">{{value.coures_title}}</a></td>
              <td><img src="{{value.coures_cover}}" alt=""></td>
              <td>{{value.num}}</td>
              <td>{{value.privilege_price}}</td>
              <!-- <td>已发布</td> -->
              <td>{{value.ctime}}</td>
              <td class="handle">
              {{if value.coures_status==1}}
                <a href="/broadcasting?cid={{value.coures_id}}">进入课程</a>
                <a href="javascript:;">推广链接</a>
                <a href="javascript:;">课时管理</a>
              {{else}}
                <a href="javascript:;" class="start-issue" data-type="{{value.type}}" data-cid="{{value.coures_id}}">开始发布</a>
              {{/if}}
              </td>
            {{else if value.type==0}}
              <td><input type="checkbox" name="selected" data-type="{{value.type}}" value="{{value.live_id}}"></td>
              <td><a href="/broadcasting?cid={{value.live_id}}" target="_blank">{{value.live_title}}</a></td>
              <td><img src="{{value.live_cover}}" alt=""></td>
              <td>{{value.num}}</td>
              <td>{{value.privilege_price}}</td>
              <!-- <td>已发布</td> -->
              <td>{{value.ctime}}</td>
              <td class="handle">
              {{if value.live_state==1}}
                <a href="/broadcasting?cid={{value.live_id}}">开始直播</a>
                <a href="javascript:;">推广链接</a>
                <a href="javascript:;" class="add-teaching" data-cid="{{value.live_id}}">添加助教</a>
              {{else}}
                <a href="javascript:;" class="start-issue" data-type="{{value.type}}" data-cid="{{value.live_id}}">开始发布</a>
              {{/if}}
              </td>
            {{else}}
              <td><input type="checkbox" name="selected" data-type="{{value.type}}" value="{{value.live_id}}"></td>
              <td><a href="/broadcasting?cid={{value.live_id}}" target="_blank">{{value.live_title}}</a></td>
              <td><img src="{{value.live_cover}}" alt=""></td>
              <td>{{value.num}}</td>
              <td>{{value.privilege_price}}</td>
              <!-- <td>已发布</td> -->
              <td>{{value.ctime}}</td>
              <td class="handle">
              {{if value.live_state==1}}
                <a href="/broadcasting?cid={{value.live_id}}">开始助播</a>
                <a href="javascript:;">推广链接</a>
              {{else}}
                <a href="javascript:;">尚未发布</a>
              {{/if}}
              </td>
            {{/if}}
            </tr>
            {{/each}}
          </tbody>
        </script>
        </table>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 添加助教 -->
  <div class="popup hide" id="sub-teaching-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>添加助教</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="sub-teaching" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">助教id</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="uid" number="true">
            </div>
          </div>
          <input type="hidden" class="form-input" name="cid" value="">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- 一键邀请 -->
  <div class="popup hide" id="invite-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>一键邀请</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="invite-form" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">标题</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="title" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">内容</label>
            <div class="form-controls">
              <textarea name="content" id="" class="form-textarea" required></textarea>
            </div>
          </div>
          <input type="hidden" class="form-input" name="cid" id="invite-cid" value="">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    seajs.use('/static/js/course/teaching.js');
  </script>
</body>
</html>