<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/coures/direct">创建直播</a>
      <a href="/coures/course">创建录播</a>
      <a href="/coures/teaching" class="active">我的教学</a>
      <a href="/coures/study">我的学习</a>
      <a href="/coures/note">我的笔记</a>
      <a href="/coures/manage">学员管理</a>
      <a href="my_datum.html" class="mydatum-btn">我的资料库</a>
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
        <div class="select-type clearfix">
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-course" data-val="">全部课程</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="liveCoures">直播课程</a></li>
              <li><a href="javascript:;" data-arg="coures">录播课程</a></li>
              <li><a href="javascript:;" data-arg="">助播课程</a></li>
            </ul>
          </div>
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-status" data-val="">发布状态</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="1">已发布</a></li>
              <li><a href="javascript:;" data-arg="0">未发布</a></li>
            </ul>
          </div>
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-date" data-val="null">发布日期</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="7">过去一周</a></li>
              <li><a href="javascript:;" data-arg="30">过去一个月</a></li>
              <li><a href="javascript:;" data-arg="60">过去两个月</a></li>
              <li><a href="javascript:;" data-arg="180">过去半年</a></li>
            </ul>
          </div>
          <div class="rf"><a href="javascript:;" class="handle-icon delete" id="handle-delete">删除</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon edit" id="handle-edit">编辑</a></div>
        </div>
        <table class="table-course" id="table-course-list">
        <script id="tableCourseList" type="text/html">
          <tbody>
            <tr>
              <th class="th1"><input type="checkbox" name="controlAll" id="controlAll"><label for="controlAll">全选</label></th>
              <th class="th2">名称</th>
              <th class="th3">图片</th>
              <th class="th4">学员数</th>
              <th class="th5">价格</th>
              <!-- <th class="th6">发布状态</th> -->
              <th class="th7">创建时间</th>
              <th class="th8">操作</th>
            </tr>
            {{each list as value i}}
            <tr>
            {{if value.type}}
              <td><input type="checkbox" name="selected" value="{{value.coures_id}}"></td>
              <td><a href="/broadcasting?cid={{value.coures_id}}" target="_blank">{{value.coures_title}}</a></td>
              <td><img src="{{value.coures_cover}}" alt=""></td>
              <td>{{value.num}}</td>
              <td>{{value.privilege_price}}</td>
              <!-- <td>已发布</td> -->
              <td>{{value.ctime}}</td>
              <td class="handle">
                <a href="/broadcasting?cid={{value.coures_id}}">进入课程</a>
                <a href="javascript:;">推广链接</a>
                <a href="javascript:;">课时管理</a>
              </td>
              {{else}}
              <td><input type="checkbox" name="selected" value="{{value.live_id}}"></td>
              <td><a href="/broadcasting?cid={{value.live_id}}" target="_blank">{{value.live_title}}</a></td>
              <td><img src="{{value.live_cover}}" alt=""></td>
              <td>{{value.num}}</td>
              <td>{{value.privilege_price}}</td>
              <!-- <td>已发布</td> -->
              <td>{{value.ctime}}</td>
              <td class="handle">
                <a href="/broadcasting?cid={{value.live_id}}">开始直播</a>
                <a href="javascript:;">推广链接</a>
                <a href="javascript:;">添加助教</a>
              </td>
              {{/if}}
            </tr>
            {{/each}}
          </tbody>
        </script>
        </table>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script>
    seajs.use('/static/js/course/teaching.js');
  </script>
</body>
</html>