<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/coures/direct">创建直播</a>
      <a href="/coures/course">创建录播</a>
      <a href="/myteach/teaching">我的教学</a>
      <a href="/coures/study">我的学习</a>
      <a href="/coures/note">我的笔记</a>
      <a href="/coures/manage" class="active">学员管理</a>
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
        <div class="select-type clearfix">
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle">所有小组</a>
            <ul class="select-items">
            <script id="selectItems" type="text/html">
              <li><a href="javascript:;" data-gid="">所有小组</a></li>
            {{each list as value i}}
              <li><a href="javascript:;" data-gid="{{value.group_id}}">{{value.group_name}}</a></li>
            {{/each}}
            </script>
            </ul>
          </div>
          <div class="lf search-box">
            <form action="" method="post" id="student-search">
              <div class="search-input clearfix">
                <input type="text" class="search-txt" name="search" placeholder="请输入学员昵称">
                <input type="hidden" id="group-id2" name="group_id" value="">
                <button type="submit" class="handle-icon search-btn"></button>
              </div>
            </form>
          </div>
          <div class="rf"><a href="javascript:;" class="handle-icon delete" id="delete-group">删除组</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon add" id="create-group">创建组</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon delete" id="delete-student">删除学员</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon add" id="add-student">添加学员</a></div>
          <div class="rf"><a href="javascript:;" class="handle-icon" id="chat-room">进入聊天室</a></div>
        </div>
        <table class="table-course" id="student-list">
        <script id="studentList" type="text/html">
          <tbody>
            <tr>
              <th class="th1"><input type="checkbox" name="controlAll" id="controlAll"><label for="controlAll">全选</label></th>
              <th class="th4">ID</th>
              <th class="th2">昵称</th>
              <th class="th3">性别</th>
              <th class="th4">级别</th>
              <th class="th2">手机号码</th>
              <th class="th2">入会时间</th>
            </tr>
            {{each list as value i}}
            <tr>
              <td><input type="checkbox" name="selected" value="{{value.id}}"></td>
              <td><a href="javascript:;">{{value.id}}</a></td>
              <td><a href="javascript:;">{{if value.nick}}{{value.nick}}{{else}}未填写{{/if}}</a></td>
              <td>{{if value.sex==0}}女{{else if value.sex==1}}男{{else}}未填写{{/if}}</td>
              <td><img src="{{value.grade}}" alt=""></td>
              <td>{{if value.phone}}{{value.phone}}{{else}}未填写{{/if}}</td>
              <td>{{value.addtime}}</td>
            </tr>
            {{/each}}
          </tbody>
        </script>
        </table>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 创建组 -->
  <div class="popup hide" id="create-group-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>创建组</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="create-group-form" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">组名称</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="group_name" required>
            </div>
          </div>
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- 添加学员 -->
  <div class="popup hide" id="add-student-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>添加学员</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="add-student-form" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">学员ID</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="user_id" required number="true">
            </div>
          </div>
          <input type="hidden" class="form-input" name="group_id" id="group-id" value="">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    seajs.use('/static/js/course/student.js');
  </script>
</body>
</html>