<input type="hidden" id="page-title" value="<?php use yii\helpers\Html; echo Html::encode($title)?>">
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="/coures/teaching" class="active">站内信</a>
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
        <div class="select-type clearfix">
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-course" data-val="">收件箱</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="1">收件箱</a></li>
              <li><a href="javascript:;" data-arg="2">发件箱</a></li>
            </ul>
          </div>
          <!-- <div class="rf"><a href="javascript:;" class="handle-icon delete" id="handle-delete">删除</a></div> -->
        </div>
        <div class="table-course" id="table-course-list">
        <script id="tableCourseList" type="text/html">
          <ul class="letter-list">
            {{if data.length>0}}
            {{each data as value i}}
            <li>
              <div class="clearfix">
                <div class="lf">
                  <img src="{{value.portrait}}" class="avatar" alt="">
                </div>
                <div class="lf">
                  {{if type==1}}
                    {{if value.letter_read==0}}
                    <div class="name hot">
                      {{if value.nick_name}}
                      {{value.nick_name}}
                      {{else}}
                      {{value.username}}
                      {{/if}}
                    </div>
                    {{else}}
                    <div class="name">
                      {{if value.nick_name}}
                      {{value.nick_name}}
                      {{else}}
                      {{value.username}}
                      {{/if}}
                    </div>
                    {{/if}}
                  {{else}}
                  <div class="name"><span class="hot">接收人：</span>{{if value.nick_name}}{{value.nick_name}}{{else}}{{value.username}}{{/if}}</div>
                  {{/if}}
                  <div class="title">
                    {{value.letter_title}}</div>
                  <div class="date">{{value.letter_add_date}}</div>
                </div>
                <div class="rf">
                {{if type==1}}
                  <a href="javascript:;" data-uid="{{value.user_id}}" class="reply-letter">回复私信</a>
                  <a href="javascript:;" data-lid="{{value.letter_id}}" class="look-all {{if value.letter_read==0}}rcvd{{/if}}">查看全部</a>
                  <a href="javascript:;" data-lid="{{value.letter_id}}" class="delete-letter hide">x删除</a>
                {{else}}
                  <a href="javascript:;" data-lid="{{value.letter_id}}" class="delete-letter">删除私信</a>
                  <a href="javascript:;" data-lid="{{value.letter_id}}" class="look-all">查看全部</a>
                {{/if}}
                </div>
              </div>
              <div class="letter-content">{{value.letter_body}}</div>
            </li>
            {{/each}}
            {{else}}
            <li class="no-data">暂无站内信</li>
            {{/if}}
          </ul>
        </script>
        </div>
      </div>
      <div class="ajax-paging">
        <div class="clearfix">
          <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
          <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
        </div>
      </div>
    </div>
  </section>
  <!-- 回复私信 -->
  <div class="popup hide" id="letter-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>回复私信</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="letter-form" class="popup-form cmxform">
          <!--<div class="form-group">
            <label class="control-label">收件人</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="name" value="" required>
            </div>
          </div> -->
          <div class="form-group">
            <label class="control-label">标题</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="title" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">内容</label>
            <div class="form-controls">
              <textarea name="content" id="" class="form-textarea" required></textarea>
            </div>
          </div>
          <input type="hidden" name="user_id" id="user-id" value="">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    seajs.use('/static/js/website/letter.js');
  </script>
</body>
</html>