<input type="hidden" id="page-title" value="<?php use yii\helpers\Html; echo Html::encode($title)?>">
<link rel="stylesheet" href="/static/css/letter.css">
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a class="active">站内信</a>
    </header>
    <div class="panel-body">
      <ul class="letter-list" id="letter-list">
      <script id="letterList" type="text/html">
      {{if data.length>0}}
      {{each data as value i}}
        <li class="media" data-url="/website/conversation?lid={{value.lid}}" data-lid="{{value.lid}}">
          <a href="/home?uid={{value.user_id}}" class="lf user-card" target="_blank">
            <img class="avatar-sm" width="50" height="50" src="{{value.cover}}">
          </a>
          <div class="media-body">
            <div class="clearfix">
              <h4 class="media-heading lf">
                <a class="link-dark" href="/home?uid={{value.user_id}}" target="_blank">{{value.username}}:</a>{{value.body}}
              </h4>
              {{if value.sum!=0}}
              <div class="unread lf">({{value.sum}}条未读)</div>
              {{/if}}
            </div>
            <div class="letter-footer clearfix">
              <span class="lf">{{value.letter_add_date}}</span>
              <!-- <span class="rf">共{{value.num_letter}}条</span> -->
              <div class="actions rf">
                <a class="delete-letter text-muted" href="javascript:;" data-lid="{{value.lid}}">删除</a>
                <!-- <span class="mhm text-muted">|</span> -->
              </div>
            </div>
          </div>
        </li>
      {{/each}}
      {{else}}
        <div class="no-data">暂无私信</div>
      {{/if}}
      </script>
      </ul>
      <div class="ajax-paging">
        <div class="clearfix">
          <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
          <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    seajs.use('/static/js/website/letter.js');
  </script>
</body>
</html>