@charset "UTF-8";
/* CSS reset */
html {font-family: sans-serif; -ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{ margin: 0; padding: 0; }
fieldset,img{ border: 0;}
input:focus,textarea:focus,select:focus{outline: none}
button,input,optgroup,select,textarea {color: inherit;font: inherit;margin: 0;}
hr {-moz-box-sizing: content-box; box-sizing: content-box;height: 0;}
address,caption,cite,code,dfn,th,var,optgroup{ font-style: normal; font-weight: normal; }
h1,h2,h3,h4,h5,h6{ font-size: 100%; font-weight: normal; font-family: "Microsoft YaHei"; }
abbr,acronym{ border: 0; font-variant: normal; }
code,kbd,samp,tt{ font-size: 100%; }
input,button,textarea,select{ *font-size: 100%; border:1px solid #ccc;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}
audio,canvas,progress,video {display: inline-block; vertical-align: baseline;}
body{ background: #fff; color:#333; font: 14px/1.5 'Microsoft YaHei','SimSun',Arial;}
ol,ul,li{ list-style: none; }
table{ border-collapse: collapse; border-spacing: 0; }
caption,th{ text-align: left; }
sup,sub{ font-size: 100%;vertical-align:baseline;line-height: 0;position: relative; }
small {font-size: 80%;}
:link, :visited, ins{ text-decoration: none; }
blockquote,q{quotes: none; }
blockquote:before, blockquote:after, q:before, q:after{ content: ''; content: none; }
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-text-size-adjust: none;}
.clearfix:before,.clearfix:after {display: table;content: " ";}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.lf {float: left;}
.rf {float: right;}
.clear{ height:0;overflow:hidden; clear:both}
.hide{display:none;}.show{display:block;}
a {background-color: transparent;}
a:active,a:hover{outline: 0;}
/*消灭所有 alert*/
#site-hint{position: fixed;top: 0;left: 0;right: 0;height: 45px;width: 100%;color: #fff;z-index: 99999999999;background: #6FBC60;text-align: center;line-height: 45px;font-size: 20px;display: none;}
#site-hint.win{background: #6FBC60;}
#site-hint.err{background: #F6888B;}