<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
<link rel="stylesheet" href="/static/js/plugins/slick/slick.css">
<link rel="stylesheet" href="/static/js/plugins/webupload/webupload.css">
<link rel="stylesheet" href="/static/css/home.css">
  <div class="home-head clearfix" id="home-header">
    <script id="homeHeader" type="text/html">
      <div class="lf user-base">
        <h1>{{nick_name}}<span class="sex">{{if sex==0}}女{{else if sex==1}}男{{else}}未填写{{/if}}</span></h1>
        <div class="row">
          <div class="lf home-avatar"><img src="{{portrait}}" alt=""></div>
          <div class="lf home-base">
            <!-- <p>直播时通知我</p> -->
            <p>职位：{{if identity==1}}讲师{{else}}会员{{/if}}</p>
            <p>等级：<img src="{{grade}}" class="grade" alt=""></p>
          </div>
        </div>
      </div>
      <div class="lf signature">
        <h2>个性签名</h2>
        <p>{{if motto}}{{motto}}{{else}}主人很懒，暂未设置个性签名{{/if}}</p>
      </div>
      <div class="rf follow-fans">
        <div class="row row1">
          <div class="lf">
            <p class="num">{{attention}}</p>
            <p>关注</p>
          </div>
          <div class="lf">
            <p class="num">{{fans}}</p>
            <p>粉丝</p>
          </div>
        </div>
        {{if is_login==1}}
          {{if self==1}}
          <div class="row row3 block">
            {{if is_sign==0}}
            <a href="javascript:;" id="user-signin">签到<span class="signin-span">+5</span></a>
            {{else}}
            <a href="javascript:;">已签到</a>
            {{/if}}
          </div>
          {{else}}
          <div class="row row2">
            {{if relation==0}}
            <a href="javascript:;" class="lf" id="attention">关注TA</a>
            {{else}}
            <a href="javascript:;" class="lf" id="cancel-attention">取消关注</a>
            {{/if}}
            <a href="javascript:;" class="lf" id="send-letter">私信TA</a>
          </div>
          {{/if}}
        {{else}}
        <div class="row row2">
          <a href="javascript:;" class="click-login lf">关注TA</a>
          <a href="javascript:;" class="click-login lf">私信TA</a>
        </div>
        {{/if}}
      </div>
    </script>
  </div>
  <section class="section-panel mt0">
    <header class="panel-heading clearfix" id="course-head1">
      <script id="courseHead" type="text/html">
      <a href="/home?uid={{uid}}" class="active">主页</a>
      <a href="/home/photo?uid={{uid}}">相册</a>
      {{if identity==1}}
      {{if self==1}}
      <a href="/home/course?uid={{uid}}">我的课程</a>
      <a href="/home/fans?uid={{uid}}">我的粉丝</a>
      {{else}}
      <a href="/home/course?uid={{uid}}">TA的课程</a>
      <a href="/home/fans?uid={{uid}}">TA的粉丝</a>
      {{/if}}
      <a href="/home/intro?uid={{uid}}">简介</a>
      {{/if}}
      </script>
    </header>
    <div class="panel-body">
      <p id="on-air" class="hide hot on-direct">我正在直播：<a href="javascript:;" target="_blank" class="btn">立刻进入</a></p>
      <div class="panel-body-course sub clearfix">
        <div class="lf home-main">
          <div class="home-content" id="talk-list">
            <script id="talkList" type="text/html">
            {{if self==1}}
            <div class="publish">
              <form id="publish-form" class="cmxform" method="post">
                <div class="clearfix">
                  <textarea name="Dynamic[details]" id="" cols="30" rows="10" class="publish-txt lf" placeholder="你在想些什么呢。。"></textarea>
                  <div class="publish-select">
                    <i class="talk-icon camera" id="talk-camera"></i>
                  </div>
                </div>
                <div class="img-list clearfix">
                  <div id="uploader-img1" class="lf">
                    <div id="fileList1" class="uploader-list clearfix">
                    </div>
                    <a href="javascript:;" class="upload-btn" id="filePicker1">选择图片</a>
                  </div>
                  <div id="uploader-img2" class="lf">
                    <div id="fileList2" class="uploader-list clearfix">
                    </div>
                    <a href="javascript:;" class="upload-btn" id="filePicker2">选择图片</a>
                  </div>
                  <div id="uploader-img3" class="lf">
                    <div id="fileList3" class="uploader-list clearfix">
                    </div>
                    <a href="javascript:;" class="upload-btn" id="filePicker3">选择图片</a>
                  </div>
                  <div id="uploader-img4" class="lf">
                    <div id="fileList4" class="uploader-list clearfix">
                    </div>
                    <a href="javascript:;" class="upload-btn" id="filePicker4">选择图片</a>
                  </div>
                </div>
                <div id="input-img">
                  <input type="hidden" name="Dynamic[dynamic_image_1]" value="">
                  <input type="hidden" name="Dynamic[dynamic_image_2]" value="">
                  <input type="hidden" name="Dynamic[dynamic_image_3]" value="">
                  <input type="hidden" name="Dynamic[dynamic_image_4]" value="">
                </div>
                <p><button type="submit" class="btn talk-btn">发表</button></p>
              </form>
              <div class="publish-date">发表说说</div>
            </div>
            {{/if}}
            <ul class="talk-list" id="talk-list-d">
              {{each dynamic as value i}}
                <li>
                  <p class="text">
                    {{value.details}}
                  </p>
                  <p class="img">
                    {{each value.dynimg as src j}}
                    <img src="{{src}}" alt="">
                    {{/each}}
                  </p>
                  <p class="video"></p>
                  <div class="handle-box">
                    <div class="handle clearfix">
                      <a href="javascript:;" class="publish-comment-btn" data-pid="{{value.dynamic_id}}" data-i={{i}}>
                        <i class="talk-icon comment"></i>评论{{if value.comment_sum!=0}}({{value.comment_sum}}){{/if}}
                      </a>
                      <!-- <a href="javascript:;" class="forward-btn" data-pid="{{value.dynamic_id}}"><i class="talk-icon forward"></i>转发</a> -->
                      {{if value.islike==1}}
                      <a href="javascript:;" class="cancel-praise-btn" data-pid="{{value.dynamic_id}}">
                        <i class="talk-icon favour"></i>
                        取消赞({{value.like_num}})
                      </a>
                      {{else}}
                      <a href="javascript:;" class="praise-btn" data-pid="{{value.dynamic_id}}">
                        <i class="talk-icon favour"></i>
                        赞{{if value.like_num!=0}}({{value.like_num}}){{/if}}
                      </a>
                      {{/if}}
                      {{if self==1}}
                      <a href="javascript:;" class="delete-btn" data-pid="{{value.dynamic_id}}"><i class="talk-icon delete"></i>删除</a>
                      {{/if}}
                    </div>
                    {{if value.comment_sum!=0}}
                    {{each value.comment as values i}}
                    <div class="clearfix comment-list">
                      <div class="lf avatar"><img src="{{values.portrait}}" width="45" height="45" alt=""></div>
                      <div class="lf">
                        <p class="comment-nr"><a href="/home?uid={{values.user_id}}" class="name hot">{{values.name}}：</a>{{values.comment_details}}</p>
                        <p class="date clearfix">{{values.create_date}}
                          {{if values.user_id==uid}}
                          <a href="javascript:;" class="rf delete-comment" data-mid="{{values.comm_id}}">删除</a>
                          {{/if}}
                        </p>
                      </div>
                    </div>
                    {{/each}}
                    {{/if}}
                  </div>
                  <form class="comment-form{{i}} hide cmxform" method="post">
                    <input type="hidden" name="DynamicComment[dynamic_id]" value="{{value.dynamic_id}}">
                    <textarea name="DynamicComment[comment_details]" id="" cols="30" rows="10" class="publish-txt comment-textarea" placeholder="自古评论出人才。。" required></textarea>
                    <p><button type="submit" class="btn talk-btn">发表</button></p>
                  </form>
                  <div class="publish-date"><i class="talk-icon talk"></i>{{value.create_date}}</div>
                </li>
              {{/each}}
            </ul>
            </script>
          </div>
        </div>
        <div class="rf home-side">
          <div class="h2">收藏的课程</div>
          <div class="slider" id="collect-course">
            <script id="collectCourse" type="text/html">
              {{each list as value i}}
                <div><a href="/couresdetail?cid={{value.cid}}&type={{value.type}}" target="_blank"><img src="{{value.cover}}" alt="{{value.title}}"></a></div>
              {{/each}}
            </script>
          </div>
          <div class="h2">学习的课程</div>
          <div class="slider" id="study-course">
            <script id="studyCourse" type="text/html">
              {{each list as value i}}
                <div><a href="/couresdetail?cid={{value.cid}}&type={{value.type}}" target="_blank"><img src="{{value.cover}}" alt="{{value.title}}"></a></div>
              {{/each}}
            </script>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="add-talk-list">
    <script id="addTalkList" type="text/html">
      {{each dynamic as value i}}
        <li>
          <p class="text">
            {{value.details}}
          </p>
          <p class="img">
            {{each value.dynimg as src j}}
            <img src="{{src}}" alt="">
            {{/each}}
          </p>
          <p class="video"></p>
          <div class="handle-box">
            <div class="handle clearfix">
              <a href="javascript:;" class="publish-comment-btn" data-pid="{{value.dynamic_id}}" data-i={{i}}>
                <i class="talk-icon comment"></i>评论{{if value.comment_sum!=0}}({{value.comment_sum}}){{/if}}
              </a>
              <!-- <a href="javascript:;" class="forward-btn" data-pid="{{value.dynamic_id}}"><i class="talk-icon forward"></i>转发</a> -->
              {{if value.islike==1}}
              <a href="javascript:;" class="cancel-praise-btn" data-pid="{{value.dynamic_id}}">
                <i class="talk-icon favour"></i>
                取消赞({{value.like_num}})
              </a>
              {{else}}
              <a href="javascript:;" class="praise-btn" data-pid="{{value.dynamic_id}}">
                <i class="talk-icon favour"></i>
                赞{{if value.like_num!=0}}({{value.like_num}}){{/if}}
              </a>
              {{/if}}
              {{if self==1}}
              <a href="javascript:;" class="delete-btn" data-pid="{{value.dynamic_id}}"><i class="talk-icon delete"></i>删除</a>
              {{/if}}
            </div>
            {{if value.comment_sum!=0}}
            {{each value.comment as values i}}
            <div class="clearfix comment-list">
              <div class="lf avatar"><img src="{{values.portrait}}" width="45" height="45" alt=""></div>
              <div class="lf">
                <p class="comment-nr"><a href="/home?uid={{values.user_id}}" class="name hot">{{values.name}}：</a>{{values.comment_details}}</p>
                <p class="date clearfix">{{values.create_date}}
                  {{if values.user_id==uid}}
                  <a href="javascript:;" class="rf delete-comment" data-mid="{{values.comm_id}}">删除</a>
                  {{/if}}
                </p>
              </div>
            </div>
            {{/each}}
            {{/if}}
          </div>
          <form class="comment-form{{i}} hide cmxform" method="post">
            <input type="hidden" name="DynamicComment[dynamic_id]" value="{{value.dynamic_id}}">
            <textarea name="DynamicComment[comment_details]" id="" cols="30" rows="10" class="publish-txt comment-textarea" placeholder="自古评论出人才。。" required></textarea>
            <p><button type="submit" class="btn talk-btn">发表</button></p>
          </form>
          <div class="publish-date"><i class="talk-icon talk"></i>{{value.create_date}}</div>
        </li>
      {{/each}}
    </script>
  </div>
  <!-- 发送私信 -->
  <div class="popup hide" id="letter-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>发送私信</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="letter-form" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">标题</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="title" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">内容</label>
            <div class="form-controls">
              <textarea name="content" id="" class="form-textarea" required></textarea>
            </div>
          </div>
          <input type="hidden" value="" name="user_id" id="user-id">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/slick/slick.min.js"></script>
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script src="/static/js/plugins/webupload/webuploader.js"></script>
  <script>
    seajs.use('/static/js/home/index.js');
  </script>
</body>
</html>