<input type="hidden" id="page-title" value="<?php use yii\helpers\Html; echo Html::encode($title)?>">
<!-- header end -->
<link rel="stylesheet" href="/static/js/plugins/slick/slick.css">
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/home-head.html');?>
<!-- home-head -->
  <section class="section-panel mt0">
    <header class="panel-heading clearfix" id="course-head1">
      <script id="courseHead" type="text/html">
      <a href="/home?uid={{uid}}">主页</a>
      <a href="/home/photo?uid={{uid}}">相册</a>
      {{if self==1}}
      <a href="/home/course?uid={{uid}}">我的课程</a>
      {{else}}
      <a href="/home/course?uid={{uid}}">TA的课程</a>
      {{/if}}
      <a href="/home/fans?uid={{uid}}">送礼排行榜</a>
      <a href="/home/intro?uid={{uid}}" class="active">简介</a>
      </script>
    </header>
    <div class="panel-body">
      <div class="panel-body-course clearfix">
        <div class="home-intro" id="home-intro">
         <script id="homeIntro" type="text/html">
           <div class="clearfix row1">
             <div class="lf picture"><img src="{{if enterprise_img}}{{enterprise_img}}{{else}}{{/if}}" width="306" height="175" alt=""></div>
             <div class="lf">
               <p>姓名：{{audit_name}}</p>
               <p>讲师等级：{{gname}}讲师</p>
               <p>师资年限：{{audit_year}}</p>
               <p>公司：{{if company}}{{company}}{{else}}暂未填写{{/if}}</p>
             </div>
           </div>
           <h2 class="intro-title">自我介绍</h2>
           <div>
             {{if introduce}}
             {{introduce}}
             {{else}}
             <p class="intro-nr">暂无简介</p>
             {{/if}}
           </div>
         </script>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/slick/slick.min.js"></script>
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    seajs.use('/static/js/home/intro.js');
  </script>
</body>
</html>