<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cmn-Hans" class="no-js">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>课堂</title>
  <meta name="Keywords" content="课堂">
  <meta name="Description" content="课堂">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/static/css/rely/reset.css">
  <link rel="stylesheet" href="/static/css/classroom.css">
  <!-- 让低版本ie浏览器更好的兼容 -->
  <!--[if lt IE 8]>
    <script>
      window.location.href="http://cdn.dmeng.net/upgrade-your-browser.html?referrer="+location.href;
    </script>
  <![endif]-->
  <!-- 兼容ie8以下的盒模型 -->
  <!--[if lt IE 8]>
    <style>
      *{*behavior: url(/static/css/rely/boxsizing.htc);}
    </style>
  <![endif]-->
  <!-- 让低版本 ie 兼容 html5 新标签 -->
  <!--[if lt IE 9]>
    <script src="/static/js/polyfills/html5shiv.min.js"></script>
    <script src="/static/js/polyfills/excanvas.js"></script>
    <script src="/static/js/polyfills/ie8eventlistener.js"></script>
  <![endif]-->
</head>
<body>
  <header class="c-header clearfix" id="c-header">
    <script id="cHeader" type="text/html">
      <div class="lf course-logo">
        <img src="{{coures.live_cover}}" alt="{{coures.live_cover}}" height="45" width="72">
      </div>
      <h1 class="lf course-title">{{coures.live_title}}</h1>
      <div class="lf info">
        ID：<span id="roomid">{{coures.live_id}}</span>
        <span id="count" class="info-num" title="学员数"></span>
        <a href="javascript:;" class="info-collect" id="favorites" title="收藏"></a>
      </div>
      <div class="lf course-time">距开始直播：<b>{{time.hour}}</b>小时<b>{{time.minute}}</b>分</div>
      <div class="rf">
        <a href="/" class="go-home">首页</a>
      </div>
    </script>
  </header>
  <section class="content clearfix">
    <section class="content-main lf">
      <div class="main-body clearfix">
        <aside class="main-side">
          <div class="main-side-top" id="main-side-top">
            <script id="mainSideTop" type="text/html">
              <div class="lecturer-info clearfix">
                <div class="lf">
                  <a href="/lecturer?uid={{uid}}" target="_blank">
                    <img src="{{portrait}}" width="60px" height="60" alt="头像">
                  </a>
                </div>
                <div class="signature">{{motto}}</div>
              </div>
              <h1 class="ad-side">{{nick_name}}</h1>
              <div class="recommend">
                <a href="javascript:;"><img src="http://placehold.it/260x120" alt=""></a>
                <p class="title"><a href="javascript:;">是多少分第三季度</a></p>
              </div>
            </script>
          </div>
          <div class="main-side-bt">
            <div class="search-student clearfix">
              <input type="text" placeholder="搜索在线学员" id="chat-search"><span class="iconfont icon icon-search">&#xe609;</span>
            </div>
            <ul class="student-list" id="student-list">
            </ul>
          </div>
        </aside>
        <div class="main-play">
          <div class="direct-video-shade"></div>
          <div id='botr_oSQWzFgF_8nLlWRv4_div'></div>
          <a href="javascript:;" class="me-make main-icon" id="me-speak"></a>
          <div id="real-state"><span id="real-satte-span"></span></div>
          <div class="user-info main-icon">
            <div class="user-info-option" id="user-info-option">
            <script id="userInfoOption" type="text/html">
              <a href="javascript:;" target="_blank" class="user-avatar"><img class="user-avatar" src="{{portrait}}" alt="头像"></a>
              <a href="javascript:;" class="rank main-icon">{{grade}}</a>
              <!-- <a href="javascript:;" class="set" target="_blank"></a> -->
              <a href="javascript:;" class="name">{{uname}}</a>
<!--               <a href="javascript:;" class="concern">关注</a>
              <a href="javascript:;" class="vermicelli" title="343">粉丝</a>
              <a href="javascript:;" class="member" target="_blank">vip 会员</a> -->
            </script>
            </div>
          </div>
          <a class="invite main-icon" id="share-link" href="javascript:;">邀请</a>
          <a class="signin main-icon" href="javascript:;" id="user-signin" title="未签到">签到<span class="signin-span">+5</span></a>
          <a class="enjoy main-icon" href="javascript:;"></a>
          <!-- <a class="share main-icon" id="share-link" href="javascript:;" title="分享"></a> -->
          <div class="share-block">
            <p class="link">Ctrl+c复制链接：<input id="current-link" type="text" value=""></p>
            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
          </div>
        </div>
      </div>
      <footer class="main-footer clearfix">
        <div class="lf main-footer-lf">
          <!-- <img src="http://placehold.it/40x40" alt=""> -->
        </div>
        <ul class="ad-list lf clearfix" id="ad-list">
        <script id="adList" type="text/html">
          {{each footerAD as value i}}
          <li>
            <a href="{{value.href}}" target="_blank"><img src="{{value.src}}" alt=""></a>
            <div class="ad-list-info">
              活动内容：{{value.title}} <br>
              活动时间：{{value.time}} <br>
              活动链接：<a href="{{value.href}}" target="_blank">{{value.href}}</a>
            </div>
          </li>
          {{/each}}
        </script>
        </ul>
      </footer>
    </section>
    <!-- 主要部分 end -->
    <section class="content-side lf">
      <div class="guest-ranking">
        <div class="ranking-sort">
          <div class="ranking-vip">
            <h2 class="title"><span>贵宾席</span></h2>
            <ul class="rankig-list" id="rankig-vip">
            <script id="rankigVip" type="text/html">
            {{each guname as value i}}
              <li>{{value}}</li>
            {{/each}}
            </script>
            </ul>
          </div>
          <div class="ranking-vermicelli">
            <h2 class="title"><span>粉丝团排行</span></h2>
            <ul class="rankig-list" id="rankig-vermicelli">
            <script id="rankigVermicelli" type="text/html">
            {{each list as value i}}
              <li><img class="grade" src="{{value.grade}}" alt="">{{value.nick}}</li>
            {{/each}}
            </script>
            </ul>
          </div>
        </div>
        <!-- ranking-sort end -->
        <div class="ranking-gift">
          <div class="title">
            <a href="javascript:;">礼物</a>
            <!-- <a href="javascript:;">包裹</a> -->
          </div>
          <div class="ranking-gift-nr clearfix">
            <div class="lf left clearfix">
              <div class="clearfix" id="all-gift">
              <script id="allGift" type="text/html">
              {{each list as value i}}
                <a href="javascript:;" data-id="{{value.gid}}" title="{{value.gname}}"><img src="{{value.gimage}}" alt="{{value.gname}}"></a>
              {{/each}}
              </script>
              </div>
            </div>
            <div class="lf right" id="gift-paging">
              <a class="prev" href="javascript:;"></a>
              <a class="next active" href="javascript:;"></a>
            </div>
          </div>
          <div class="ranking-gift-bt">
            <div class="clearfix">
              <div class="lf left">
                <div class="ranking-input clearfix">
                  <div class="lf">送给</div><a href="javascript:;" class="object" id="user-object">老师</a>
                  <!-- <ul class="all" id="user-all">
                    <li>学员用户名</li>
                    <li>郭靖</li>
                    <li>杨过</li>
                    <li>张无忌</li>
                    <li>韦小宝</li>
                  </ul> -->
                </div>
                <div class="ranking-input clearfix">
                  <div class="lf">数量</div><div class="count-box"><input class="count" id="gift-num" type="text" onkeyup="value=value.replace( /[^\d|]/g,'')" value="1"></div>
                </div>
                <input type="hidden" name="gift" value="1">
              </div>
              <button class="lf send" id="gift-send"></button>
            </div>
            <a href="javascript:;" class="game">比拼</a>
            <a href="javascript:;" target="_blank" class="pay">充值</a>
          </div>
        </div>
      </div>
      <div class="chatbox rf">
        <header class="chat-head">
          <div>讲师：<span id="lecturer-name"></span></div>
        </header>
        <div class="lecturer-order clearfix">
          <div class="lf icon iconfont icon-speak">麦序模式</div>
        </div>
        <div class="chat-body">
          <ol class="lecturer-list">
            <!-- <li>
              <span class="hot lf point-icon icon iconfont"><b>1.</b></span>
              <img src="http://placehold.it/32x32" alt="用户名" class="avatar">
              <span class="username">久伴</span>
              <span class="usernamesub">老师</span>
            </li> -->
          </ol>
          <div class="chat" id="chat-messages">
          </div>
        </div>
        <div class="banned-state">抱歉，你已被禁言！</div>
        <div class="chat-bot">
          <div class="chat-bot-bd">
            <div class="chat-tool">
              <div id="iconlist">
              </div>
              <a href="javascript:;" id="face" class="icon iconfont icon-face"></a>&nbsp;&nbsp;
              <a href="javascript:;" id="flower" class="icon iconfont icon-flower"></a>
            </div>
            <div class="chat-input clearfix">
              <div contenteditable="true" class="chat-textarea" placeholder="type you message"></div><button class="chat-submit">发送</button>
            </div>
            <div class="chat-status hide">Status:<span>IDle</span></div>
          </div>
        </div>
      </div>
    </section>
    <!-- 右侧聊天窗口 end -->
  </section>
  <footer class="c-footer"></footer>
  <!-- 区分页面 -->
  <input type="hidden" id="is-index" value="1">
  <!-- 视频区域 -->
  <div class="pure-u-2-3" id="video-container">
    <video id="their-video" autoplay></video>
    <video id="my-video" muted="true" autoplay></video>
  </div>
  <!-- 步骤 -->
  <div class="pure-u-1-3">
    <h2>PeerJS视频聊天</h2>
    <!-- 得到当地音频/视频流 -->
    <div id="step1">
      <p>请点击“允许”屏幕的顶端,所以我们可以为调用访问您的网络摄像头和麦克风。</p>
      <div id="step1-error">
        <p>无法访问网络摄像头和麦克风。确保一个http服务器上运行这个演示后,点击“允许”要求许可由浏览器。</p>
        <a href="#" class="pure-button pure-button-error" id="step1-retry">再试一次</a>
      </div>
    </div>
  </div>
  <!-- htmt 代码结束 -->
  <!-- js 脚本文件 -->
  <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/lib/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="/static/js/lib/template.js"></script>
  <!-- <script src="/static/js/plugins/peer/peer.js"></script>
  <script src="/static/js/plugins/peer/script.js"></script> -->
  <script src="/static/js/lib/sea.js" id="seajsnode"></script>
  <script src="http://139.196.195.238:8080/socket.io/socket.io.js"></script>
  <!-- <script src="http://192.168.0.100:8080/socket.io/socket.io.js"></script> -->
  <!-- peer 麦克和摄像头 -->
  <script>
    // 定义全局变量
    var arrAdminT=['50'],//获取管理员数组
        socketUrl='http://139.196.195.238:8080/',
        // socketUrl='http://192.168.0.100:8080/',
        userMid,
        userName,
        dataService='2',
        search=location.search,
        courseCid=search.substring(search.indexOf('cid=')+4),
        $allGift=$('#all-gift'), // 礼物
        giftNr=$allGift.find('a:first').html(), // 礼物
        giftTitle=$allGift.find('a:first').attr('title'),
        giftId=1; // 礼物 id
    // seajs
    seajs.config({
      alias: {
        'classroom' : '/static/js/lecture/classroom.js',
        'common' : '/static/js/common.js',
        'modernizr': '/static/js/polyfills/modernizr.min',
        'socketio' : 'http://139.196.195.238:8080/socket.io/socket.io.js',
        'jwplayer' : '/static/js/plugins/jwplayer/jwplayer.js',
        'mychat' : '/static/js/mychat.js'
      }
    });
    // ajax post 方法
    function postAjaxDatas(_url,fSuccess){
      $.ajax({
        type:'post',
        url:_url,
        data:{cid:courseCid},
        dataType: 'json',
        success: function(datas){
          fSuccess(datas);
        },
        error: function(xml,err){
          console.log(err);
        }
      });
    }
    // 会员信息
    postAjaxDatas('/broadcasting/study',function(datas){
      userMid=datas.id;
      userName=datas.uname;
      var userInfoOption = template('userInfoOption',datas);
      $('#user-info-option').html(userInfoOption);
      seajs.use('classroom');
    });
    function runMake(){
      $.getScript('/static/js/plugins/peer/peer.js',function(){
        $.getScript('/static/js/plugins/peer/script.js');
      });
    }
  </script>
</body>
</html>