<input type="hidden" id="page-title" value="<?php use yii\helpers\Html; echo Html::encode($title)?>">
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="javascript:;" class="active" data-type="1">名牌讲师</a>
      <a href="javascript:;" data-type="2">人气讲师</a>
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
        <div class="select-type clearfix">
          <div class="rf search-box lecturer-search">
            <div class="search-input clearfix">
              <input type="text" class="search-txt" id="search-val" placeholder="请输入讲师名称">
              <button type="button" class="handle-icon search-btn" id="search-btn"></button>
            </div>
          </div>
        </div>
        <ul class="lecture-list clearfix">
        <script id="lecturerList" type="text/html">
        {{if data.length>0}}
        {{each data as value i}}
          <li>
            <a href="/home?uid={{value.user_id}}" target="_blank">
              <img src="{{value.portrait}}" alt="">
              <div class="name"><img src="{{value.gimage}}" width="22" height="22" alt="">讲师：{{value.audit_name}}</div>
            </a>
            <div class="row">
            {{if login==1}}
              {{if value.attention==0}}
              <a href="javascript:;" class="lf attention" data-uid="{{value.user_id}}">关注TA</a>
              {{else}}
              <a href="javascript:;" class="lf cancel-attention" data-uid="{{value.user_id}}">取消关注</a>
              {{/if}}
              <a href="javascript:;" class="lf letter-item" data-uid="{{value.user_id}}">私信TA</a>
            {{else}}
              <a href="javascript:;" class="lf attention-login">关注TA</a>
              <a href="javascript:;" class="lf letter-item-login">私信TA</a>
            {{/if}}
            </div>
          </li>
        {{/each}}
        {{else}}
          <div class="no-data">暂无讲师</div>
        {{/if}}
        </script>
        </ul>
      </div>
      <div class="ajax-paging">
        <div class="clearfix">
          <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
          <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
        </div>
      </div>
    </div>
  </section>
  <!-- 发送私信 -->
  <div class="popup hide" id="letter-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>发送私信</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="letter-form" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">内容</label>
            <div class="form-controls">
              <textarea name="content" id="" class="form-textarea" required placeholder="请输入私信内容"></textarea>
            </div>
          </div>
          <input type="hidden" value="" name="user_id" id="user-id">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    seajs.use('/static/js/lecture/list.js');
  </script>
</body>
</html>