.pd36{
  padding:36px;
}
.panel-body-account>.row{
  margin-bottom:60px;
  line-height: 35px;
}
.panel-body-account>.row1>.btn{
  padding:0 15px;
  border-radius: 5px;
  margin-left:20px;
  border:2px solid #188eee;
  line-height: 31px;
}
.panel-body-account .btn:hover{
  background: #fff;
  color:#188eee;
}
#balance{
  font-size: 20px;
}
.account-icon{
  position: relative;
  margin-right:100px;
  line-height: 30px;
}
.account-icon:before{
  content: '';
  position: absolute;
  left: 0;
  background: url(../img/account-icon.png) no-repeat;
  height:65px;
}
.account-icon.query{
  padding-left:70px;
}
.account-icon.coupon{
  padding-left:100px;
}
.account-icon.query:before{
  width:58px;
  background-position: 0 0;
}
.account-icon.coupon:before{
  width:89px;
  background-position:-58px 0;
}
.panel-body-account>.row2 .q{
  font-size: 16px;
  display: block;
}
/*充值*/
.panel-body-recharge{
  background: #fff;
  padding:20px 42px;
}
.recharge-row1{
  line-height: 36px;
  margin:20px 0;
}
.recharge-row1 a{
  padding:0 16px;
  margin-right:18px;
}
.input-money{
  padding:2px 10px;
  line-height: 30px;
}
.form-hint.hot{
  color:#4e9bd5;
}
/*搜索日期*/
.search-date{
  margin-left:100px;
}
.search-date.order{
  margin-top: 25px;
  margin-left: 0;
}
.search-date input{
  line-height: 32px;
  height:32px;
  padding:0 5px;
}
.search-date .btn{
  line-height: 28px;
  height: 32px;
  padding: 0 25px;
  border-radius: 3px;
}
.table-course.order-table th{
  width: auto;
}
/*礼物*/
.get-gift-list{
  background: #0068B7;
  color:#002fb7;
  width: 996px;
  margin:30px auto;
  padding:8px;
  font-size: 14px;
  text-align: center;
}
.get-gift-list>li{
  width:92px;
  height:92px;
  background: #008AD1;
  border:1px solid #05B0F2;
  margin:3px;
  float:left;
}