.section-panel.mt0{
  margin-top: 0
}
.home-head{
  width: 1200px;
  margin:25px auto 0;
  height:214px;
  background: url(../img/home-bj.jpg) no-repeat;
  padding:20px 65px;
  color:#fff;
  font-size: 16px;
  position: relative;
}
.user-base>h1{
  font-size: 30px;
  line-height: 45px;
}
.user-base>h1>span{
  font-size: 14px;
  margin-left:10px;
}
.home-head .firm-name{
  position: absolute;
  color: yellow;
  top: 16px;
  right: 65px;
}
.home-avatar{
  margin-right:20px;
}
.home-avatar img{
  width: 130px;
  max-height: 130px;
}
.home-base{
  line-height:32px;
}
.home-base .grade{
  position: relative;
  top: 4px;
}
.follow-fans{
  text-align: center;
  margin-top:35px;
}
.follow-fans .lf{
  width: 95px;
  margin-left:2px;
}
.follow-fans .row1 .lf{
  background: #BADFF9;
  height:80px;
  color:#666;
  line-height: 28px;
  padding-top:12px;
}
.follow-fans .row1 .num{
  font-size: 20px;
  color:#333;
}
.follow-fans .row2 .lf,.follow-fans .row3>a{
  background: #178EEE;
  line-height: 48px;
  height:48px;
  border: 1px solid #1387E4;
  color:#fff;
  position: relative;
}
.block a,.block img{
  display:block;
}
.signature{
  margin-left: 120px;
  text-align: center;
  margin-top: 20px;
  width: 350px;
}
.signature h2{
  font-size: 20px;
  line-height: 60px;
}
.signin-span {
  position: absolute;
  top: -12px;
  color: red;
  font-size: 14px;
  display: none; }
.on-direct{
  line-height: 60px;
  font-size: 20px;
}
.on-direct .btn{
  padding: 4px 18px 6px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
}
/*home-main*/
.home-main{
  width: 587px;
  margin-left:145px;
  padding: 0 30px;
  border-left:1px solid #e2e1e1;
  /*border-right: 1px solid #e2e1e1;*/
  font-size: 16px;
}
.home-content{
  /*height:500px;*/
}
.publish{
  position: relative;
  background: #E9EEF4;
  padding:18px 15px;
  margin-bottom:10px;
}
.publish-date{
  position: absolute;
  left: -120px;
  top: 15px;
  font-size: 14px;
  width: 80px;
  text-align: center;
}
.publish-txt{
  width: 435px;
  line-height: 20px;
  height: 60px;
  padding: 5px 6px;
  font-size: 14px;
  border: 1px solid #51AEF6;
}
.publish-select{
  width: 60px;
  float: right;
  background: #0188EE;
  position: relative;
  height: 60px;
}
.publish-select .webuploader-container,.publish-select .webuploader-container .webuploader-pick{
  height:100%;
  width: 100%;
  /* 视频 start */
  height: 30px;
  border-radius: 0;
  /* 视频 end */
}
.talk-icon{
  background: url(../img/talk-icon.png) no-repeat;
  position: absolute;
  cursor: pointer;
}
.talk-icon.camera{
  width:28px;
  height:24px;
  background-position:-27px -6px;
  left: 16px;
  top: 18px;
}
/* 上传视频 start */
.publish-option{
  position: absolute;
  top:60px;
  background: #fff;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  display: none;
}
.publish-option>li{
  border:1px solid #4faef6;
  border-top:0;
  height: 30px;
  position:relative;
}
.publish-option>li>a{
  position: static;
  display: block;
}
/* 上传视频 end */
.talk-btn{
  padding: 3px 25px;
  margin: 8px auto 0;
  display: block;
}
.img-list .webuploader-pick{
/*  display: block;
  background: none;
  padding: 0;
  color: #010101;
  border-radius: 0;*/
  width: 100%;
  font-size: 14px;
  line-height: 28px;
}
/*图片上传*/
.img-list{
  padding: 5px 0;
}
.img-list .lf{
  width: 23%;
  margin-right:2%;
}
.img-list .lf img{
  width: 100%;
}
#publish-form .uploader-list{
  padding-top:10px;
}
.uploader-list>li{
  float:left;
  width: 120px;
  height:100px;
  margin-right: 6px;
}
.uploader-list>li img{width: 100%;max-height: 100%;}
.uploader-list .file-panel {
  position: absolute;
  height: 30px;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0;
  background: rgba( 0, 0, 0, 0.5 );
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 300;
  display: none;
  transition: 300ms;
}
.uploader-list li:hover .file-panel{
  display: block;
}
.uploader-list .file-panel span.cancel {
  background-position: -48px -24px;
}
/*图片上传end*/
.talk-icon.talk{
  width: 24px;
  height: 27px;
  background-position: -1px -6px;
  left: -30px;
  top: 0;
}
.talk-icon.comment{
  width:14px;
  height:15px;
  background-position:-96px -11px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  top: 2px;
}
.talk-icon.forward{
  width:16px;
  height:13px;
  background-position:-111px -12px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  top: 0;
}
.talk-icon.favour{
  width:15px;
  height:16px;
  background-position:-129px -11px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  top: 1px;
}
.talk-icon.delete{
  width:16px;
  height:16px;
  background-position:-147px -13px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  top: 2px;
}

.talk-list>li{
  position: relative;
  background: #E9EEF4;
  padding:18px 15px;
  margin-bottom:10px;
}
.talk-list .text{
  margin-bottom:5px;
}
.talk-list .img img{
  max-width: 48%;
  float: left;
  margin-right: 2%;
  margin-bottom: 10px;
}
.talk-list .handle-box{
  border: 1px solid #9FD1F8;
  padding: 5px 10px;
}
.talk-list .handle{
  text-align: center;
  font-size: 15px;
}
.talk-list .handle a{
  float:left;
  width:25%;
  line-height: 16px;
  border-right: 1px solid #B7D5EE;
}
.talk-list .handle a:last-child{
  border-right:0;
}
.talk-list .comment-list{
  margin: 10px 0 5px;
}
.talk-list .avatar{
  margin-right: 10px;
}
.talk-list .comment-nr{
  font-size: 14px;
}
.talk-list .handle-box .date{
  font-size: 12px;
  color:#999;
  width:160px;
}
.talk-list .handle-box .date a{
  color:#999;
}
.talk-list .handle-box .date a:hover{
  color:#333;
}
.comment-textarea{
  width: 100%;
  background: #DCE7F2;
  border-top: 0;
  margin-top: -1px;
}

.home-side{
  width: 380px;
  border-left: 1px solid #e2e1e1;
}
.home-side .h2{
  line-height: 45px;
  padding:0 20px;
  background: #DEEAF3;
  color:#222;
}
.home-side .slick-slider{
  padding: 15px 0 10px;
}
.home-side .slick-slide img {
  display: block;
  width: 336px;
  height:190px;
  margin: 0 auto 8px;
}
.home-side .slick-prev,.home-side .slick-next{
  display: block;
  top: -23px;
  right: 30px;
  width:9px;
  height:19px;
  background: url(../img/home-arrows.png) no-repeat;
}
.home-side .slick-prev{
  background-position: 0 0;
  left: 310px;
}
.home-side .slick-next{
  background-position: -8px 0;
}
/*简介*/
.home-intro{
  padding:50px 90px;
}
.home-intro .row1{
  line-height: 35px;
}
.home-intro .picture{
  margin-right: 20px;
}
.home-intro .intro-title{
  border-left: 2px solid #4e9bd5;
  line-height: 18px;
  margin: 15px 0 5px;
  padding-left: 5px;
}
.intro-nr{
  line-height: 50px;
  text-indent: 2em;
  font-size: 16px;
}
/*粉丝排行榜*/
.fans-wealth-list{
  background-color: #4490CE;
}
/*相册*/
.photo-list>li{
  border:1px solid #eaeaea;
}
.photo-list>li .course-title{
  text-align: center;
}
/*查看相册*/
.course-list.study-course.picture-list li{
  width:200px;
  margin: 6px;
}
#add-picture-form .uploader-list{
  padding:0 10px;
}
.course-list.picture-list>li>a{
  height: 140px;
}

/*.picture-list li img{
  width: 100%;
  max-height:100%;
}*/
/*群组动态*/
.group-dynamic-title{
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  color: #4E9BD5;
  margin-bottom: 10px;
}
/*入驻公司首页*/
.firm-address{
  background: #363636;
  width: 360px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 38px;
}
.firm-business.signature{
  margin-left:0;
}
.section-panel2{
  color:#333;
  font-size: 18px;
}
.section-panel2 .title{
  padding:40px 0;
}
.section-panel2 .title h2{
  float:left;
  font-size: 30px;
  border-left: 20px solid #1796ED;
  line-height: 32px;
  padding-left: 16px;
}
.section-panel2 .title hr{
  float: right;
  width: 1040px;
  margin-top: 16px;
  height: 0px;
  border: 0;
  border-bottom: 1px solid #ccc;
}
.firm-lecturer{
  height:225px;
  margin:10px 0 30px;
  padding:0 75px;
}
.firm-lecturer .item{
  height:225px;
  width:225px !important;
  border-radius: 50%;
  overflow: hidden;
  border:10px solid #ccc;
  margin-right:38px;
}
.firm-lecturer .item a{
  display: block;
  position: relative;
}
.firm-lecturer .item img{
  display: block;
  width: 205px;
  height: 205px;
}
.firm-lecturer .item .name{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,.7);
  text-align: center;
  padding: 70px 0;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  filter: alpha(Opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transition: 300ms;
  -webkit-transition:300ms;
  -ms-transition:300ms;
  -o-transition:300ms;
}
.firm-lecturer .item .blcok{
  font-size: 25px;
  display: block;
}
.firm-lecturer .item:hover{
  border-color:#80CBEC;
}
.firm-lecturer .item:hover .name{
  filter: alpha(Opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.firm-lecturer .slick-prev,.firm-lecturer .slick-next{
  background: #999;
  width:48px;
  height:112px;
  top: 30%;
}
.firm-lecturer .slick-prev:before,.firm-lecturer .slick-next:before{
  content: '';
  display: block;
  width:19px;
  height:29px;
  background: url(../img/arrows-lr.png) no-repeat center center;
  filter: alpha(Opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  margin-left:15px;
}
.firm-lecturer .slick-prev:before{
  background-position: 0 0;
}
.firm-lecturer .slick-next:before{
  background-position: -20px 0;
}
.firm-lecturer .slick-prev{
  left:0;
}
.firm-lecturer .slick-next{
  right:0;
}
.firm-intro{
  margin-bottom: 60px;
  /*text-indent: 2em;*/
}
.firm-intro img{
  max-width: 100%;
}
.course-list.firm-course{
  background: #fff;
  padding:0;
}
.course-list.firm-course li{
  margin: 5px 17px;
}