<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
    <ul class="header-tag clearfix">
    <script id="panelHeading" type="text/html">
      <li class="active li-tag"><a href="javascript:;" data-tid="">全部课程</a></li>
      {{each list as value i}}
      <li class="li-tag">
        <a href="javascript:;" data-tid="{{value.gc_id}}">{{value.gc_name}}</a>
        <ul class="header-tag-sub clearfix">
        {{each value.ziji as val i}}
          <li><a href="javascript:;" data-tid="{{val.gc_id}}">{{val.gc_name}}</a></li>
        {{/each}}
        </ul>
      </li>
      {{/each}}
    </script>
    </ul>
    </header>
    <div class="panel-body">
      <div class="panel-body-course mt">
        <div class="select-type clearfix">
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-grade" data-val="">课程难度</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="1">初级课程</a></li>
              <li><a href="javascript:;" data-arg="2">中级课程</a></li>
              <li><a href="javascript:;" data-arg="3">高级课程</a></li>
            </ul>
          </div>
        </div>
        <ul class="course-list direct-course clearfix">
        <script id="directCourse" type="text/html">
        {{if list.length>0}}
        {{each list as value i}}
          <li>
            <a href="/couresdetail?cid={{value.coures_id}}&type=1" target="_blank">
              <img src="{{value.coures_cover}}" alt="">
              <span class="full"><b>抓紧学习</b></span>
            </a>
            <div class="course-price">{{if value.coures_type==1}}￥{{value.privilege_price}}&nbsp;&nbsp;&nbsp;<span class="cost">原价：￥{{value.coures_price}}</span>{{else}}￥免费{{/if}}</div>
            <div class="row">
              <p class="course-title"><a href="/couresdetail?cid={{value.coures_id}}&type=1" target="_blank">{{value.coures_title}}</a></p>
              <!-- <a href="javascript:;" class="rf letter-item" data-uid="{{value.user_id}}">私信</a> -->
            </div>
            <div class="clearfix">
              <div class="lf name"><img src="{{value.lecturer.grade}}" alt="">讲师：{{value.lecturer.audit_name}}</div>
            </div>
          </li>
        {{/each}}
        {{else}}
          <div class="no-data">暂无录播课程</div>
        {{/if}}
        </script>
        </ul>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    seajs.use('/static/js/course/course_list.js');
    // 导航选中
    $('.nav>ul>li').eq(2).addClass('active').siblings().removeClass('active');
  </script>
</body>
</html>