<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
    <ul class="header-tag clearfix">
    <script id="panelHeading" type="text/html">
      <li class="active li-tag"><a href="javascript:;" data-tid="">全部课程</a></li>
      {{each list as value i}}
      {{if value.gc_parent_id==0}}
      <li class="li-tag">
        <a href="javascript:;" data-tid="{{value.gc_id}}">{{value.gc_name}}</a>
        <ul class="header-tag-sub clearfix">
        {{each value.ziji as val i}}
          <li><a href="javascript:;" data-tid="{{val.gc_id}}">{{val.gc_name}}</a></li>
        {{/each}}
        </ul>
      </li>
      {{/if}}
      {{/each}}
    </script>
    </ul>
    </header>
    <div class="panel-body">
      <div class="panel-body-course mt">
        <div class="select-type clearfix">
          <div class="lf">
            <a href="javascript:;" class="handle-icon triangle" id="handle-grade" data-val="">课程难度</a>
            <ul class="select-items">
              <li><a href="javascript:;" data-arg="1">初级课程</a></li>
              <li><a href="javascript:;" data-arg="2">中级课程</a></li>
              <li><a href="javascript:;" data-arg="3">高级课程</a></li>
            </ul>
          </div>
          <div class="rf search-box lecturer-search">
            <div class="search-input clearfix">
              <input type="text" class="search-txt" id="search-val" placeholder="请输入课程名称">
              <button type="button" class="handle-icon search-btn" id="search-btn"></button>
            </div>
          </div>
        </div>
        <ul class="course-list direct-course clearfix" id="list-course">
        <script id="listCourse" type="text/html">
        {{each list as value i}}
          <li>
            <a href="/couresdetail?cid={{value.id}}&amp;type={{value.vtype}}" target="_blank">
              <img src="{{value.cover}}" alt="">
              <span class="full"><b>{{if value.vtype==0}}直播课{{else}}录播课{{/if}}</b></span>
            </a>
            <div class="row">
              <p class="course-title"><a href="/couresdetail?cid={{value.id}}&amp;type={{value.vtype}}" target="_blank">{{value.title}}</a></p>
            </div>
          </li>
        {{/each}}
        </script>
        </ul>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    seajs.use('/static/js/course/list.js');
  </script>
</body>
</html>