<!-- header -->
<?php echo \Yii::$app->view->renderFile('@app/views/layouts/header.html');?>
<!-- header end -->
  <section class="section-panel">
    <header class="panel-heading clearfix">
      <a href="javascript:;" class="active" data-type="1">最新课程</a>
      <a href="javascript:;" data-type="2">名气课程</a>
    </header>
    <div class="panel-body">
      <div class="panel-body-course">
        <ul class="course-list direct-course clearfix">
        <script id="directCourse" type="text/html">
        {{if list.length>0}}
        {{each list as value i}}
          <li>
            <a href="/couresdetail?cid={{value.coures_id}}&amp;type=1" target="_blank">
              <img src="{{value.coures_cover}}" alt="">
              <span class="full"><b>抓紧学习</b></span>
            </a>
            <div class="course-price">{{if value.coures_type==1}}￥{{value.privilege_price}}&nbsp;&nbsp;&nbsp;<span class="cost">原价：￥{{value.coures_price}}</span>{{else}}￥免费{{/if}}</div>
            <div class="row">
              <p class="course-title"><a href="/couresdetail?cid={{value.coures_id}}&amp;type=1" target="_blank">{{value.coures_title}}</a></p>
              <!-- <a href="javascript:;" class="rf letter-item" data-uid="{{value.user_id}}">私信</a> -->
            </div>
            <div class="clearfix">
              <div class="lf name"><img src="{{value.lecturer.grade}}" alt="">讲师：{{value.lecturer.audit_name}}</div>
            </div>
          </li>
        {{/each}}
        {{else}}
          <div class="no-data">暂无推荐课程</div>
        {{/if}}
        </script>
        </ul>
        <div class="ajax-paging">
          <div class="clearfix">
            <a href="javascript:;" id="paging-prev" class="handle-icon left-arrows"></a>
            <a href="javascript:;" id="paging-next" class="handle-icon right-arrows active"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 回复私信 -->
  <div class="popup hide" id="letter-popup">
    <div class="popup-modal">
      <div class="popup-header">
        <h1>发送私信</h1>
        <button type="button" class="popup-close"></button>
      </div>
      <div class="popup-body">
        <form method="post" id="letter-form" class="popup-form cmxform">
          <div class="form-group">
            <label class="control-label">标题</label>
            <div class="form-controls">
              <input type="text" class="form-input" name="title" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">内容</label>
            <div class="form-controls">
              <textarea name="content" id="" class="form-textarea" required></textarea>
            </div>
          </div>
          <input type="hidden" value="" name="user_id" id="user-id">
          <div class="form-group">
            <div class="form-submit">
              <button type="submit" class="button-submit">确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="popup-bg"></div>
  </div>
  <!-- footer -->
  <?php echo \Yii::$app->view->renderFile('@app/views/layouts/footer.html');?>
  <!-- footer end -->
  <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="/static/js/plugins/validate/messages_zh.js"></script>
  <script>
    seajs.use('/static/js/course/recommend.js');
    // 导航选中
    $('.nav>ul>li').eq(3).addClass('active').siblings().removeClass('active');
  </script>
</body>
</html>